[2014-03-04 14:24] RafalBabinicz opened #1 "flycheck-cask intrustructions in readme file"
Readme file is copy paste from flycheck-cask :)

Installation

As usual, from MELPA and Marmalade.

In your Cask file:

(source gnu)
(source melpa)

(depends-on "flycheck-cask")

In your init.el:

(eval-after-load 'flycheck
  '(add-hook 'flycheck-mode-hook #'flycheck-cask-setup))

[2014-03-04 15:52] #1 closed, assigned to nobody

[2014-04-14 09:05] swsnr opened #2 "Handle build directories of executables"
E.g. `dist/build/foo/foo-tmp` …

[2014-05-07 08:53] david-christiansen opened #3 "flycheck-haskell doesn't read LANGUAGE options from the .cabal file"
When I try to use flycheck-haskell together with Idris, it complains about missing language extensions. This is because we declare the extensions in the .cabal file rather than putting them at the top of each file. It would be really great if flycheck-haskell also read this from the .cabal file so I could use it on Idris - it's great!

[2014-05-10 14:07] gracjan opened #5 "Add a way to enable/disable packages"
I have a package that depends on mtl directly and on monads-tf indirectly. While building under cabal works due to -hide-all-packages -package mtl, under flycheck it does not as all packages are equally visible.

Checker haskell-ghc returned non-zero exit code 1, but no errors from output:
/Sources/MySourceCode.hs:55:18:
    Ambiguous module name `Control.Monad.Writer.Strict':
      it was found i

[2014-05-10 14:22] gracjan opened #6 "-fno-code does not fly with template haskell"
Setup:
SourceWithSomeTHDefinitions.hs
SourceUsingThoseTHDefinitions.hs

When doing flycheck over SourceUsingThoseTHDefinitions.hs it finds and imports SourceWithSomeTHDefinitions.hs properly but the bails out with:

ByteCodeLink.lookupCE
During interactive linking, GHCi couldn't find the following symbol:
  XYziDerive_newtypeDeriveReadShow_closure
This may be due to you not asking GHCi to load ext

[2014-05-12 20:38] gracjan opened #7 "Read dist/setup-config"
After .cabal project is configured it create a configuration file in dist/setup-config. It contains all information needed:
- which compiler should be used (full path)
- what options (for example warnings selection)
- visible packages
- etc

It contains all the information that would allow to flycheck with exactly same compiler and flags as later compilation.

It is rather easy to read that file u

[2014-05-18 11:12] lunaryorn opened #8 "Cabal-based syntax checker"
We should provide an (optional) syntax checker based on `cabal build`.

Needs flycheck/flycheck#312 implemented first.

[2014-05-18 11:13] #7 closed, assigned to nobody

[2014-05-18 11:14] #6 closed, assigned to nobody

[2014-05-18 11:15] #2 closed, assigned to swsnr

[2014-05-18 13:43] #3 closed, assigned to swsnr

[2014-05-19 09:53] onsails opened #11 "flycheck fails parsing preprocessor directives"
If file contains directives like:

[code]

It fails with the following error:

[code]

[2014-05-19 09:58] #11 closed, assigned to nobody

[2014-06-03 14:50] gracjan opened #14 "flycheck-haskell-process-configuration should setq not append options"
Cabal treats .cabal files as full definitions and usually explicitly resets settings. For example:

[code]

flycheck should mimic this invocation as closely as possible. Note reset flags:
- -i - clear search paths
- -hide-all-packages - hide all packages (and list visible ones explicitly)
- -XHaskell2010 - default language setting
- (??) what happened to -no-user-package-db (I dimly remember it be

[2014-06-04 05:27] gracjan opened #16 "flycheck-haskell-get-cabal-configuration should cache results"
I'm working on a project with about 250 hs (Haskell source) files under umbrella of a single .cabal file. I also have the habbit of closing and reopening Haskell files when needed.

flycheck-haskell-get-cabal-configuration takes half a second to execute, not much, but annoying as it is synchronus with main emacs thread. flycheck-haskell-get-cabal-configuration should cache cabal extraction (based

[2014-06-04 09:19] #14 closed, assigned to swsnr

[2014-06-05 14:20] #16 closed, assigned to swsnr

[2014-09-10 14:37] gracjan opened #19 "flycheck-haskell-configure should be idempotent"
As per discussion in https://github.com/flycheck/flycheck-haskell/issues/14 flycheck-haskell-configure executed twice should have same result as execute once.

Right now it appends duplicate flags and that might cause issues when flag duplication is important.

[2014-10-02 21:38] Javran opened #20 "Haskell sources are missing in MELPA-stable repo?"
I'm using MELPA stable repo and find that all Haskell source files are missing which makes this package unusuable.

You can download the tarball from [this page](http://melpa-stable.milkbox.net/#/flycheck-haskell) to confirm.

[2014-10-02 22:19] #20 closed, assigned to nobody

[2014-11-16 19:00] creichert opened #21 "Error During Interactive Linking, GHCi Couldn't Find the Following Symbol"
I receive the following error when I have `flycheck-haskell` enabled
and I attempt to use haskell-mode's `haskell-process-load-file`:

[code]

This error is on a basic Yesod site and does not happen on other
(non-yesod) cabal projects. Yesod does use some CPP to conditionally
compile environments but I haven't quite figured out if that's related
to this issue (`staticDir` is a simple function `sta

[2014-11-16 21:27] #21 closed, assigned to swsnr

[2014-11-24 05:51] Javran opened #22 "hdevtools could not find module under the same directory"
Not sure if this is a bug or I've done something wrong, but please help me troubleshoot this problem.

What I did is:
- create a new directory (e.g. `/tmp/mod`)
- create the following two files:

`Mod.hs`:

[code]

`Main.hs`:

[code]

When editing `Main.hs`, an error is found on line 1 col 8 saying "Could not find module `Mod`"

I used `C-c ! l` to bring up the error list and found that error mess

[2014-11-24 10:08] #22 closed, assigned to nobody

[2014-12-11 08:52] da-x opened #23 "flycheck-haskell breaks with library-vanilla:false and shared:true, executable-dynamic:true under cabal sandbox"
Consider the following under ~/.cabal/config:

[code]

With cabal sandbox for building some package (ghc 7.8.3) and the settings above, imports of the package fail during during flycheck's run.

I switched off library-vanilla back to the default of True, rebuilt the cabal sandbox and it fixed it. So I am guessing that the ghc invocation did not receive the right parameters for loading the shared l

[2014-12-11 17:29] #23 closed, assigned to nobody

[2014-12-20 15:07] nlamirault opened #24 "let-alist dependency missing ?"
i try to install flycheck-haskell using Cask, and i've got this error :

[code]

i've got setup package :

[code]

[2014-12-22 09:18] #24 closed, assigned to nobody

[2015-01-10 17:37] lunaryorn commented on #19
@gracjan I think we shouldn't bother for idempotency, IMHO.  It's probably easier, if we just override any previous values in this extension.

After all, the cabal file usually contains all relevant build settings, so why should anyone ever want to add additional settings just for Flycheck?

Your opinion?

[2015-01-11 10:47] gracjan commented on #19
I see that we agree or at least I do not see how we disagree... do we?

*Overriding any previous values* is what I was after in this request.

Meanwhile current code has 'append' (not idempotent, not override):

    (setq-local flycheck-ghc-search-path
               (append .build-directories .source-directories
                       flycheck-ghc-search-path))

Better code (somewhat idempotent,

[2015-02-02 23:43] LukeHoersten opened #27 "Cabal sandbox not being used"
My user package database has transformers-0.3 and my sandbox package database has transformers-0.4 but flycheck-haskell is transformers-0.3 and incorrectly reporting errors. I suspect the user package database is taking precedence over the sandbox package db but it shouldn't.

[2015-02-03 21:27] LukeHoersten commented on #27
I was able to get things working with Chris Done's flycheck-haskell which uses ghci instead of ghc:

https://github.com/chrisdone/haskell-flycheck

I don't think this runs hlint though.

[2015-02-04 10:38] lunaryorn commented on #27
@LukeHoersten It chains to the built-in hlint checker, so hlint should run either way.

As for the actual issue, please show me the output of `C-c ! C-c RET haskell-ghc`.

[2015-02-04 14:48] LukeHoersten commented on #27
[code]

[2015-02-04 16:08] LukeHoersten commented on #27
@chrisdone and I have done some work to bring his chrisdone/haskell-flycheck#1 up to snuff. Basically modern `haskell-mode` uses `haskell-interactive-mode` for a REPL which is  `cabal repl` underneath. This unifies sandbox management etc all under one roof. With Chris' `haskell-flycheck`, it actually shares that `cabal repl` process for type checking etc. I really think this is the way to go for `

[2015-02-05 10:48] lunaryorn commented on #27
@LukeHoersten That's the output of the error list, not of `C-c ! C-c`…

With regards to haskell-flycheck:  This extension does not actually implement a syntax checker.  It merely configures the built-in GHC syntax checker of Flycheck accordingly.

Flycheck itself will never use Haskell Interactive Mode for syntax checking:  I want no dependencies on specific 3rd party modes in Flycheck, and it's t

[2015-02-05 17:30] LukeHoersten commented on #27
1. I think we can close this issue. I can't reproduce the issue with the `haskell-ghc` checker.
2. The `haskell-process` stuff is included in `haskell-mode`. Do you mean you don't want to depend on `haskell-mode` as a 3rd party mode?

[2015-02-05 17:37] lunaryorn commented on #27
@LukeHoersten  Ad 1)  Closing as invalid then.

Ad 2) Exactly.  I do not want to depend on Emacs Lisp functionality from other modes.  That'd open a kitchen sink, and amount to more code than I could reasonably maintain.  For this reason, I prefer to have syntax checkers with such dependencies in external packages.

[2015-02-05 17:41] #27 closed

[2015-02-05 18:50] LukeHoersten commented on #27
OK that makes a lot of sense. Can we do what you suggested then and add the `haskell-process` checker to the `flycheck-haskell` package? My main motivation is to just get it into emacs package management so installation is easy and having `flycheck-haskell` and `haskell-flycheck` will just be confusing for new users.

[2015-02-05 19:54] lunaryorn commented on #27
@LukeHoersten Yes, if @chrisdone agrees.

[2015-02-05 23:06] chrisdone commented on #27
I'm okay with merging this into flycheck-haskell if it unifies a common thing and avoids confusion. I'm concerned about pissing off your users by swapping out the backend with something that requires starting a session and ghci (things that people regularly complain about as being such a chore).

[2015-02-05 23:13] LukeHoersten commented on #27
I was thinking `flycheck-haskell` would default to it's current behavior and whether by manual config or auto-config on availability of `haskell-process`, would switch from `haskell-ghc` checker to `haskell-process` checker. @chrisdone mentioned on IRC that this would have a conditional dependency, though, which may not be desirable. I'm not sure what's best here.

[2015-02-06 06:06] lunaryorn commented on #27
@LukeHoersten What do you mean with “conditional dependency”?  This extension already depends on Haskell Mode.

@chrisdone With a proper predicate, Flycheck won't use the checker unless there is a session already.  Is there a function that checks whether the current Haskell Mode has an interactive session attached?

[2015-02-06 11:37] chrisdone commented on #27
There's `haskell-session-maybe` which returns `nil` if there is no session.

[2015-02-06 12:09] lunaryorn commented on #27
@chrisdone That looks like the right function to call, i.e. `:predicate haskell-session-maybe`…

[2015-03-14 21:38] rpglover64 opened #28 "Honor "with-compiler" flag in cabal.config when doing flycheck-haskell-configure"
I have 3 different versions of GHC installed on my system currently: the one supported by my OS (7.6.3), the latest stable release (7.8.4), and the latest release candidate (7.10-rc1). I would like to choose which one to use on a per-project basis. using a project local cabal.config enables me to do so for most purposes, even without having a foo.cabal file.

[2015-03-14 22:44] rpglover64 commented on #28
It looks like [this](https://gist.github.com/rpglover64/30bb21d04605ed0feb61) does it.

I make no claims about the quality of my change; it's a lot of copy/paste and some of the functions it duplicates could and probably should be abstracted.

[2015-04-04 13:05] lunaryorn commented on #28
@rpglover64  Sorry for the long delay.

This looks like a great addition to this package.  Would you mind to make a proper pull request out of your patch?  It'd make review and merging much easier for me.

[2015-04-05 19:43] mrkkrp opened #30 "Suspicious state from syntax checker haskell-ghc..."
Flycheck has ceased to work after a recent update. I have a project `my-project` that consists of a library and an executable that depends on the library (i.e. depends on `my-project`). `haskell-mode`, REPL, etc. work fine, but when I open any file in the project I'm presented with this message in the minibuffer:

[2015-04-06 10:28] lunaryorn commented on #30
@mrkkrp I've reverted the corresponding change, so the next MELPA build should work again.

Inviting @gracjan, because he wrote that code.

[2015-04-06 11:03] gracjan commented on #30
Well, it says exactly what it means: you cannot flycheck your executable until your library is available.

In my projects that have both libraries and executables I source all library files into executable just for this reason.

[2015-04-06 11:06] mdorman commented on #30
I believe my #31 handles this appropriately.  It's not an issue with the user's configuration, it's a result of using the overly-simplistic flattenPackageDescription.

[2015-04-06 11:24] gracjan commented on #30
I do not see how #31 enables to use library before it is build, but if it does then that's great!

[2015-04-06 11:53] lunaryorn commented on #30
@gracjan It used to work before, apparently, so it's not that easy, and I don't think that sarcasm is going to make it any easier for us to deal with this issue.

@mdorman As far as I'm concerned this is getting a little out of hand.  I don't know whether #31 solves it or not, for I didn't take a closer look yet, but if we need to copy code from Cabal it's the wrong way obviously, at least from my

[2015-04-06 11:58] mdorman commented on #30
I am not going to pretend to be all that expert in this, @gracjan.  It's mostly just observation an testing.  However, if you look at the output of the script, you see something like:

[code]

Given that `source-directories` includes the library directory, I believe ghc will be able to find the library files even when checking the executable source.  The problem I believe he was running into was t

[2015-04-06 12:01] lunaryorn commented on #30
@gracjan #31 filters references to the current package from the list of build dependencies, so GHC will fall back to resolving intra-package imports from the source files as it did before.

[2015-04-06 12:04] mdorman commented on #30
@lunaryorn That is of course your prerogative, though I would urge you not to do so.

The fact is, while better cabal support for this would undoubtedly be nice---heck, it would be great if there were a "spit out dependencies, etc. for this file" api---that's at best a year in the future?

The code I borrowed from Cabal is, if you actually look at it, quite mundane---it's really just doing deep up

[2015-04-06 12:07] lunaryorn commented on #30
@mdorman If you don't mind, I'd prefer if we discussed the details of your implementation in #31.  It's easier for me if everything is in the right place, and if we are discussing code, it's best to have the code right at hand.  Thanks :)

[2015-04-06 12:15] gracjan commented on #30
@lunaryorn, @mdorman, sorry about the sarcasm, it was directed at Cabal as a complicated piece of software that surprises much more often that I would like it to.

About the issue at hand:

Sourcing all and every source directory is one way. Another way is to have 'configurations, that is `flycheck-haskell-configure` should accept an argument telling which part of .cabal file are we working this t

[2015-04-06 12:19] lunaryorn commented on #30
@gracjan “Do what cabal-install does” is not the scope of this project.  My aim is to get the same error reporting in most situations, with as little effort as possible.  The simpler, the better, and if it breaks in some corner cases or fails to spot some more obscure errors, that's ok, as far as I'm concerned, for Flycheck does generally not aim to replace a build tool.

In other words, you'll al

[2015-04-06 12:24] mrkkrp commented on #30
@gracjan, adding source files to every item in `.cabal` file to avoid interdependencies is conceptually wrong in my opinion. For example, test suite should obviously depend on library. See [pipes library](https://github.com/Gabriel439/Haskell-Pipes-Library/blob/master/pipes.cabal) and other prominent projects for example.

I don't see any reason why flycheck couldn't check source code of executabl

[2015-04-06 12:28] gracjan commented on #30
@lunaryorn: I do not understand your comment at all.

If 'most situations' you are talking about cover all .cabal files without internal dependencies and if by 'breaks in some corner cases' you mean breaks for .cabal files with internal dependencies... then you get issue reports like this one.

@mrkkrp: test suite should depend on sources of the library, moreover it is valuable if test suite has a

[2015-04-06 12:31] lunaryorn commented on #30
@gracjan A cabal project with internal dependencies is not a “corner case”, obviously.  And I don't think that you should have to write your Cabal file in any specific way to get Flycheck working properly.

[2015-04-06 12:32] mrkkrp commented on #30
@gracjan, it doesn't work very well for me, because my library and executable share the same directory `src` at the moment, let alone test suite.

[2015-04-06 12:46] gracjan commented on #30
@mrkkrp: so... the only thing you need `flycheck-haskell-configure` to do is to filter out internal dependencies and that is all?

@lunaryorn: I do not follow your definitions of 'corner case' vs anything else. For example as far as I know `TemplateHaskell` is still unsupported by official `flycheck-haskell` (I still use my own patched version).

Anyway: in my opinion Cabal is super complicated an

[2015-04-14 18:15] lunaryorn commented on #30
@gracjan Flycheck breaks on projects which define their own Template Haskell operators because of the way GHC builds—specifically GHC wants TH operators compiled ahead of time.  That makes it close to impossible to support TH without completely compiling the entire module, which in turn isn't a good idea either, because code generation takes long on large modules.

But there are very few projects

[2015-04-14 18:47] gracjan commented on #30
I have advocated better solution many times over so I do not feel the need
to repeat myself again.

I'm using my forked version of flycheck and I'm happy with it. Especially
with the improved speed as my version does not have to recompile all of 250
modules at every change.

[2015-04-14 19:45] lunaryorn commented on #30
I'm sorry, but I don't remember.   Wasn't it your pull request that proposed to extract more information from the Cabal file?  What better solution than that did you advocate?

I'm curious to see it, but I'd like to focus on this issue.  Specifically, how can we refine the extraction of build information from the Cabal file so that it matches the actual build more closely?

[2015-05-06 13:55] ocramz opened #32 "Checking c2hs files"
What should I modify to have Haskell linting/typechecking when editing c2hs .chs files (Haskell with C #includes and c2hs {# ... #} macros) ?
The major mode I use for .chs is M-x haskell-c-mode .

I already have FlyCheck working in haskell-mode and C mode sepately.

Thank you in advance

[2015-05-06 14:08] lunaryorn commented on #32
I took the liberty to edit your title.  There's no need to “tag” in the title—that's what Github labels are for.

As for the actual question: Flycheck does not support Haskell C Mode. I didn't even know that this mode existed until now—I seldom write c2hs code.

I don't know whether we can check these files in Flycheck.  As far as I know c2hs is just a preprocessor, which does not implement a comp

[2015-05-06 14:09] lunaryorn commented on #32
Probably @purcell can contribute his ideas.

[2015-05-06 14:29] ocramz commented on #32
Thank you for the feedback; c2hs does output line annotations in its output, in form of pragmas:
{-# LINE n "Main.chs" #-} , but I don't know how these could be useful..

[2015-05-06 14:42] purcell commented on #32
One option would probably be to write a `c2hslint` tool which could contain the logic @lunaryorn describes, and produce output convenient for `flycheck`.

[2015-05-07 06:41] lunaryorn commented on #32
@ocramz Do these pragmas actually change the line numbers in the GHC output?  In this case much of what I've said above would become redundant, and all we'd be left to do was to pipe the c2hs output to GHC.

Flycheck doesn't provide an infrastructure for this kind of preprocessing—if it becomes a bigger issue, we could add one of course—but it'd be quite easy to write a simple script for this purp

[2015-05-07 23:52] ocramz commented on #32
the {-# LINE #-} pragmas just refer back to the position of the originating macro in the .chs file.
E.g.

    accessStruct1 :: (TestPtr) -> IO ((Int))
    accessStruct1 a1 =
      let {a1' = id a1} in
      accessStruct1'_ a1' >>= \res ->
      let {res' = fromIntegral res} in
      return (res')

     {-# LINE 12 "PointersTest2.chs" #-}

is an expansion of the following macro, contained on line 1

[2015-05-08 07:23] lunaryorn commented on #32
@ocramz I think so.  I *know* that the line pragmas reference the source position of the unexpanded file, i.e. before c2hs processing.  I wanted to know whether these pragmas actually affect GHC's output.

In other words, if there's an error, does GHC output line numbers from the expanded .hs file, or does it somehow evaluate the line pragmas and output line numbers from the unexpanded c2hs file?

[2015-05-08 08:49] ocramz commented on #32
If there's a c2hs error, no .hs gets generated. I should talk to c2hs's current maintainer, Ian Ross, @iross, regarding intermediate cases or ways to make the c2hs output more verbose (the wiki does not mention this and the internal help is quite terse).

[2015-05-08 09:22] ian-ross commented on #32
As Marco says, if there's an error in the C2HS file, no Haskell file gets generated.  If there's an error in the generated Haskell file, the GHC error messages refer to lines in the original .chs file (the second possibility @lunaryorn's question above).

This ought to be manageable with a simple wrapper around C2HS+GHC: if C2HS errors, just handle the C2HS error messages; if C2HS succeeds, run GH

[2015-05-08 10:02] lunaryorn commented on #32
@ocramz We're still talking past each other.  I was talking about GHC errors, i.e. what line numbers are used if there's GHC error in the generated file.

@ian-ross Thanks for joining this discussion.  If the GHC error messages refer to lines in the original c2hs file, it's indeed quite easy to write a wrapper around it.  I'll try to write it, but I'm short of time, and can't promise anything soon

[2015-05-26 13:12] geraldus opened #33 "FlyCheck unable to find sandboxed packages"
Currently I'm using shared sandbox created by **Stackage CLI**<sup>[1]</sup>, but I had same problem with normal sandbox. **FlyCheck** reports me a lot of `haskell-ghc` checker `"Could not find module"` errors when checking sandboxed project (output of `C-c ! C-c haskell-ghc RET`):

And `cabal list --installed` from project root makes sure that modules are actually installed:

[code]

I guess this

[2015-05-26 14:27] lunaryorn commented on #33
Please show the output of `C-c ! v` and `C-c ! C-c haskell-ghc`.  Does it work after `M-x normal-mode`?

[2015-05-26 14:28] lunaryorn commented on #33
Besides, it's Flycheck, not FlyCheck, and there's no reason to emphasize it…

[2015-05-26 14:29] lunaryorn commented on #33
And, additionally, please show me your Flycheck Haskell setup from your init file.

[2015-05-26 15:13] geraldus commented on #33
Please excuse me, I've updated `flycheck-haskell` and now the issue is not relevant!
BTW, `C-c ! v` showed me green statuses for each checker and I don't know where did I get this capital C from! (:

[2015-05-26 15:13] #33 closed

[2015-05-26 16:48] lunaryorn commented on #33
@geraldus Never mind :) I'm unsure how a Flycheck update could have solved this, unless you used a very old version, but I'm happy that it works for you now :)

[2015-05-27 17:33] geraldus opened #34 "flycheck-haskell does not work with haskell-mode installed from source"
I'm hacking `haskell-mode` from time to time and decided to install it from git sources rather than from **MELPA** PA. Now `flycheck-haskell` fails to start with following output:

[code]

I guess this is because of this<sup>[1]</sup>. But likely it defines minimal required version, so I have no idea what's wrong. Current `haskell-mode` version is `13.12`.

[1]:https://github.com/flycheck/flycheck

[2015-05-27 17:54] gracjan commented on #34
Interesting. How can we advertise from source that `haskell-mode` is available and working?

[2015-05-27 18:00] geraldus commented on #34
em, `fboundp`?

[2015-05-27 18:01] gracjan commented on #34
Seems like manual calling of `package-load-descriptor` with single argument that is the directory where `haskell-mode` is gitcloned should do the trick.

[2015-05-27 18:03] lunaryorn commented on #34
You can't.  If you install a package through the package manager you must install all its dependencies through the package manager as well.  There's no reliable way around this.

In other words, you must install Haskell Mode like you install flycheck-haskell.

Closing since this is not an issue in this library, but a configuration error.

[2015-05-27 18:04] gracjan commented on #34
@lunaryorn: yes, you should close this isse.

Still we need to find a way as it is impossible to hack on `haskell-mode` otherwise and we really need to do this.

[2015-05-27 18:05] geraldus commented on #34
@lunaryorn feel free to close! (: so, in my case I need to install `flycheck-haskell` (and `flycheck` itself?) from source to resolve this?

[2015-05-27 18:05] #34 closed

[2015-05-27 18:08] lunaryorn commented on #34
Well, you can install this library from GitHub as well.  I don't support that but as Emacs developers you should be able to cope with any issues that might occur 😀

[2015-05-27 18:11] lunaryorn commented on #34
Or you install Haskell Mode from MELPA as well, and then just reload it when you want to makes changes to it.  That's what Emacs has `eval-buffer` and friends for, and that's what I do with Flycheck.

[2015-05-27 18:16] geraldus commented on #34
:smile: well, I'm using `eval-buffer` constantly. The issue is `haskell-mode` tests, it picks up precompiled haskell-mode sources when doing tests, so often tests fails. But I have easier solution: just remove all `*.elc` files from haskell-mode. Anyway, thank you for clarifications, I'll stick with MELPA installation.

[2015-05-28 06:17] lunaryorn commented on #34
@geraldus I'm not sure what you mean, but then I don't know how the test suite of Haskell Mode works either.  But there should be a script or Makefile target or anything of that sort to run all Haskell Mode tests from a Git checkout, using the Git version.  If there isn't, that's probably something that you can contribute to Haskell Mode :)

[2015-05-28 19:07] lunaryorn commented on #28
Closing as duplicate of #29

[2015-05-28 19:07] #28 closed

[2015-05-28 19:15] geraldus commented on #34
@lunaryorn for example I've removed third arg from `some-funciton` and updated all code where it used. Now if I'll run tests (`make check` in this case) it will fail with error message alike `"function `some-function' takes exactly 3 args, but was given only 2"`. The workaround is to remove `*.elc` files from `haskell-mode` folder (from where `make` command ran). Excuse me for nonce noise (:

[2015-05-30 19:24] mdorman opened #36 "flycheck-haskell fails when sandbox isn't present"
At least, I don't use sandboxes, and the reference to package-db in the error message:

    Error while checking syntax automatically: (error "Value (nil) of flycheck-ghc-package-databases for option \"-package-db\" is not a list of strings") [10 times]

(which seems only used with sandboxes) would seem to point the finger at the sandbox support.

I created #35 to resolve this.

[2015-05-30 19:56] lunaryorn commented on #36
Isn't this the same as #35?

[2015-05-30 19:58] mdorman commented on #36
Yes, entirely.  Lately I've found some maintainers don't seem to look at PRs unless there are issues associated with them, so I've gotten into the habit of doing both.  Sorry for the noise.

[2015-05-30 21:28] lunaryorn commented on #36
@mdorman Closing as duplicate then.

[2015-05-30 21:28] #36 closed

[2015-06-02 03:07] nkpart opened #37 "flycheck-haskell fails to initialize when you have a cabal.config without 'with-compiler'"
I have projects with cabal.config files, that only specify constraints. In the latest version of flycheck-haskell, it fails to initialize while looking for `with-compiler`.

[code]

[2015-06-02 07:23] #37 closed

[2015-06-02 07:29] lunaryorn commented on #37
@nkpart Fixed, and released as 0.7.2 on MELPA Stable.  Thanks for reporting this issue.

[2015-06-08 12:58] lunaryorn commented on #34
@geraldus I'd argue that this is an issue in the makefile of Haskell Mode.  `make check` should depend on the compilation target if it uses byte code files.

[2015-06-08 14:14] gracjan commented on #34
Noted an issue in our github issue tracker.

[2015-06-11 18:16] blakehaswell opened #38 "Suspicious state from syntax checker javascript-eslint"
I’ve got flycheck configured as per [this blog post](http://codewinds.com/blog/2015-04-02-emacs-flycheck-eslint-jsx.html), but I’m getting the following error code which I’m unable to solve.

    Suspicious state from syntax checker javascript-eslint: Checker javascript-eslint returned non-zero exit code 127, but no errors from output: env: node: No such file or directory

    Checker definition p

[2015-06-12 05:45] lunaryorn commented on #38
@blakehaswell Your Emacs seems to have the wrong `$PATH`, which you might be able to solve with `exec-path-from-shell`, presuming that you're on OS X, but how's that all related to Haskell, and why do you ask me and not the author of the blog post whose instructions you followed?

Closing as invalid.

[2015-06-12 05:45] #38 closed

[2015-06-12 09:22] blakehaswell commented on #38
Ugh, apologies, I don’t even know how I ended up in this project – clicked the wrong tab I guess. Thanks for pointing me in the right direction regardless.

[2015-06-14 20:27] razvan-panda commented on #21
@lunaryorn Do you happen to know if there is any way to avoid getting the message popup (appears on each save) without disabling flycheck (seems to still work despite the error)?

[2015-06-15 07:09] lunaryorn commented on #21
@razvan-panda There's not.  I can add one if you make me an issue in the Flycheck issue tracker, but it'll take a long time, because it's not a high priority for me—it only affects flawed checkers after all—and I have many other things to do.

[2015-06-28 18:15] vlatkoB commented on #6
I'm getting the same error when opening any `.hs` file in `Yesod` project. Except the missing symbol is `Settings_compileTimeAppSettings_closure`.

Can you tell me where should the @gracjan's `:command` workaround be placed?

[2015-06-29 14:47] vlatkoB commented on #6
Found the solution.

[2015-07-03 11:03] s9gf4ult opened #39 "Cabal defined CPP macros dont work."
Code like this:

[code]

is highlighted as wrong with such error message:

[code]

It looks like `flycheck-haskell` do not take cabal defined macros into account.

PS. Why dont just use `cabal build` to build modules, or just get all parameters which `cabal` gives to `ghc` using e.g. http://hackage.haskell.org/package/cabal-cargs ?

[2015-07-03 11:21] lunaryorn commented on #39
It doesn't.  You can easily add the necessary macros to the corresponding options, though.

If you ask me this way, I'd say that **I** didn't yet need this myself, and none else–including you—has bothered to make a pull request…

[2015-07-29 13:07] Enzo-Liu opened #40 "flycheck-haskell-configure won't be called if `enable-local-variables` is nil"
After configure
[code]

I notice `cabal sandbox config` takes no effect for `flycheck-haskell`. Manually call `flycheck-haskell-configure` will fix this problem.

Looking into the `flycheck-haskell-setup`  and [hack-local-variables-hook](http://www.gnu.org/software/emacs/manual/html_node/elisp/File-Local-Variables.html)
[code]
I found with `enable-local-variables` set to nil, the `hack-local-varia

[2015-07-29 13:12] lunaryorn commented on #40
@Enzo-Liu There are no checks for that, and I think it won't be easy to work around this.  Why do you set `enable-local-variables` to `nil`?

[2015-07-30 02:11] Enzo-Liu commented on #40
When I saw prompt for  apply variables, it feels a little annoying...
So I set `enable-local-variables` to `nil`.
Now I use
[code]
And everything is fine.

But maybe could do something in `flycheck-haskell-setup` like this?:
[code]

[2015-07-30 05:11] lunaryorn commented on #40
@Enzo-Liu Are you aware that you can type `!` in this prompt to permanently accept all variables therein as safe for the current and any future Emacs session?  I use it all the time.

I'd strongly recommend against disabling local variables, because these are _the_ standard way of project-local settings in Emacs.  As such, I don't think it's worth the effort to support them.

The  purpose of addin

[2015-07-30 05:12] #40 closed

[2015-07-30 12:15] vlatkoB commented on #6
If I do not edit `flycheck.el` after every update and replace command for `haskell-ghc` with
`:command ("ghc" "-Wall" "-no-link" "-outputdir" "/tmp/flycheck-haskell"`
it is totally unusable, only `ByteCodeLink.lookupCE` errors. :-(

Is there a way to replace/override just the `haskell-ghc` checker? Something like `advice-add` maybe?

@lunaryorn Or would you agree to add a `haskell-ghc-custom-optio

[2015-07-30 12:19] lunaryorn commented on #6
@vlatkoB You can simply redefine the checker.  I'll not accept any such variable, but I see the issue, and I'd accept a PR that changes the Haskell GHC syntax checker to write its output to a cache directory.

[2015-07-30 12:50] vlatkoB commented on #6
Thanks for the redefining tip. I thought it has to be advised like funcs.

Did you mean something like this?
[code]

[2015-07-30 12:55] lunaryorn commented on #6
@vlatkoB Yes, something similar, but in an proper temporary directory.  There are already syntax checkers in Flycheck that do something similar…  iirc, SASS for instance.

[2015-07-30 13:09] vlatkoB commented on #6
So, something like
[code]

[2015-07-30 13:12] lunaryorn commented on #6
@vlatkoB Yes.

[2015-07-30 14:38] vlatkoB commented on #6
[Done](https://github.com/flycheck/flycheck/pull/708).

[2015-07-31 02:30] ntc2 commented on #39
@lunaryorn: could you explain how to "add the necessary macros to the corresponding options"? I'm getting a similar error from `#if !MIN_VERSION_base(4,8.0)` guards.

[2015-07-31 08:44] lunaryorn commented on #39
@ntc2 There's `flycheck-ghc-args` which is simple a list of additional flags for GHC in Flycheck.  You can add `-cpp` and `-DMIN_VERSION_base(4, 8, 0)` to it to define the macro for Flycheck syntax checking/

[2015-07-31 17:56] ntc2 commented on #39
@lunaryorn: thanks for your help! Adding `-cpp` and `-DMIN_VERSION_base(4, 8, 0)` to `flycheck-ghc-args` did not work for me, but I was able to find other settings that do work.

Following a blog (http://www.christopherbiscardi.com/tag/min_version_base/) I found that adding
[code]
to `flycheck-ghc-args` works,  because `cabal_macros.h` is where the `MIN_VERSION` macros are defined.

Then, followin

[2015-08-01 12:00] lunaryorn commented on #39
@ntc2 The prefix comes from the temporary file that Flycheck creates to check modified buffers.

You'd need to define the macro for hlint as well, but I don't know how to do that.  Presumably there's an hlint option for that, but it don't think it's wrapped in Flycheck.

Please open a new issue on Flycheck's main issue tracker for the hlint problem.  Thanks.

[2015-08-06 07:52] alcidesv opened #41 "Can we have support for stack?"
Haskell stack is kind of nice for big projects. It would be cool if flycheck-haskell would support it.

I have hacked some code for that, but I'm out of my dept when it comes to elisp. Anyway, here is the code:

https://github.com/alcidesv/flycheck-haskell

Suggestions are appreciated.

[2015-08-06 08:20] lunaryorn commented on #41
See https://github.com/flycheck/flycheck/pull/711

[2015-08-06 08:20] #41 closed

[2015-09-04 17:39] mrkkrp opened #42 "Flycheck partially stopped working"
Hello. I've upgraded some packages (I didn't noticed which exactly, sorry) and it seems like `flycheck-haskell` has stopped to work.

Now if I type `import Data.List (sort)` even if `sort` is not used in the file it won't warn me about importing unused function. My test suite doesn't see anymore library package. Packages in sandboxes seem to be invisible as well. Obvious syntax errors are reported

[2015-09-04 17:59] mrkkrp commented on #42
What a disaster… I cannot understand why it stopped work. I reverted last commit in `haskell-mode` but it didn't help. Can anyone reproduce this?

[2015-09-05 07:49] TakSuyu opened #43 "Doesn't recognize default-extensions in cabal file"
My cabal file contains `default-extensions: TemplateHaskell` for the project which enables it for any exposed module.

However flycheck gives me this error on a naked expression when the Pragma isn't at the top of the file.
[code]

[2015-09-05 09:18] mrkkrp commented on #42
@lunaryorn,

* Any idea why this might happen?
* Can you reproduce it?
* How should I debug it?

[2015-09-05 09:23] lunaryorn commented on #42
@mrkkrp Did you try to revert the latest commit in this repository?

[2015-09-05 09:30] mrkkrp commented on #42
Well, latest commit here happened on Jun 26, I used Flycheck a lot since then. MELPA tracks `master` branch, isn't it?

[2015-09-05 09:42] lunaryorn commented on #42
@mrkkrp I was authored in June, but pushed to master only recently.

[2015-09-05 09:44] mrkkrp commented on #42
@lunaryorn, OK, hold on, I'll check it.

[2015-09-05 09:50] mrkkrp commented on #42
It still doesn't work and I'm getting:

[2015-09-05 09:51] mrkkrp commented on #42
@lunaryorn, is it the only commit you've pushed recently or should I checkout earlier points in history?

[2015-09-05 10:02] lunaryorn commented on #42
@mrkkrp That's the only commit I've added recently, and if that isn't the cause of this problem, it's a problem on your side rather, I'm afraid.  You could try to run the Haskell helpers manually to see what the return.

[2015-09-05 10:07] mrkkrp commented on #42
@lunaryorn, Oh, I've no idea how could I break it. Can you tell me how do I run these “Haskell helpers”?

Also, does Flycheck create some sort of files or something stateful that I could pure? The fact is that I didn't change anything in my init file, it just stopped work. What a mysterious thing…

[2015-09-05 11:04] mrkkrp commented on #42
@lunaryorn, if others don't experience this, then it may be a problem on my side. But since I know for sure I didn't do anything that could change the way my Emacs functions between the moment of time `A` when everything was fine and moment `B` when Flycheck stopped work, then it was not me who introduced the problem. This means that more people will encounter this at some point.

After all I can

[2015-09-05 11:13] mrkkrp commented on #42
@lunaryorn, which else packages except for `flycheck-haskell` and `haskell-mode` can affect how `flycheck-haskell` works?

[2015-09-05 11:19] lunaryorn commented on #42
@mrkkrp With all due respect, there's more to a working Flycheck setup than just your Emacs configuration.  Whether Flycheck works correctly also depends on your Haskell setup, i.e. your GHC version, your Cabal version, your global and user packages, whether and how you use Cabal sandboxes, wether you use Stack, etc…

You've tried to revert the only thing that changed in Flycheck recently with reg

[2015-09-05 11:20] lunaryorn commented on #42
@mrkkrp Every other package could potentially affect Flycheck, that is how Emacs works.

[2015-09-05 11:22] mrkkrp commented on #42
I understand, I didn't change anything of this between the moment it worked and when it stopped work, I'm absolutely sure. @lunaryorn, thanks for your help, I understand that you cannot help me more.

[2015-09-05 12:30] mrkkrp commented on #42
@lunaryorn, so I'm trying to investigate it on Emacs Lisp level. I'm trying various functions at random, but since I don't know what they should return/change normally, I cannot tell where the problem lies. For example `flycheck-haskell-get-configuration` returns `nil`. What does it mean? Could you at least tell me list of functions to try and what they should return to find out cause of the probl

[2015-09-05 13:38] mrkkrp commented on #42
So, `flycheck-haskell-read-cabal-configuration` should not return `nil`, isn't it?

Here is what I've found:

[code]

results in:

[code]

seems OK. Then `flycheck-haskell-read-cabal-configuration` does the following:

[code]

which produces:

[code]

Great. Return value is `0`, which means that all the output should be read and returned as Lisp object. When I evaluate

[code]

with `eval-expressi

[2015-09-05 13:51] mrkkrp commented on #42
Ah, exit code is `1` for some reason when current file is Haskell source file (it's `0` in `*scratch*`).

[2015-09-05 13:57] mrkkrp commented on #42
In all cases when I call it manually either via `eval-expression` or via shell its return code is `0` and it outputs all the info. However in this function its output value is `1` (discovered by adding `(message "exist code: %d" result)`).

[2015-09-05 13:59] mrkkrp commented on #42
@lunaryorn, Can you comment on my little investigation?

[2015-09-05 14:23] mrkkrp commented on #42
@lunaryorn, I've fixed it. I'll open a PR.

[2015-09-05 14:52] #42 closed

[2015-09-05 14:53] lunaryorn commented on #42
@mrkkrp Uh?  I [had asked you to revert](https://github.com/flycheck/flycheck-haskell/issues/42#issuecomment-137935748) the very commit that introduced this flaw, and by your own words that [did not fix the issue for you](https://github.com/flycheck/flycheck-haskell/issues/42#issuecomment-137937829)?!

I see that this is my fault actually, and I'm sorry for this flaw and the nuisance it caused, bu

[2015-09-05 14:54] mrkkrp commented on #42
@lunaryorn, I did reverted it, but it didn't fix it. That's weird, but this is what happened.

[2015-09-05 14:56] mrkkrp commented on #42
@lunaryorn, I've cloned the repo, hard-reset to previous commit, `package-install-file` with the repo directory, then removed MELPA version, restarted Emacs, checked a Haskell file where I knew were issues that should be reported. I didn't work.

[2015-09-05 14:58] mrkkrp commented on #42
@lunaryorn, I will check once again, this is really interesting.

[2015-09-05 14:59] lunaryorn commented on #42
@mrkkrp I'd have been enough to just revert to the previous commit and use `M-x load-file`.

[2015-09-05 15:04] mrkkrp commented on #42
@lunaryorn, in fact your "reinstallation" procedure produces different result compared with those actions that I performed. I don't know why.

[2015-09-05 15:08] mrkkrp commented on #42
@lunaryorn, ah! It `package-install-file` doesn't copy `*.hs` files! Uh. Now everything is clear. Thank you for your support.

[2015-09-06 13:18] lunaryorn commented on #43
@TakSuyu Can you try again with the latest MELPA build?

[2015-09-07 01:13] TakSuyu commented on #43
Still giving me the same error; is there anything I can type in for some debug information?

[2015-09-07 03:03] TakSuyu commented on #43
Reopened the file and the error came back.

[2015-09-07 03:06] TakSuyu commented on #43
Here is the piece of code that throws the error
[code]

[2015-09-07 11:52] #19 closed

[2015-09-07 11:52] #39 closed

[2015-09-07 11:53] lunaryorn commented on #32
Closing as wontfix.  I don't need this myself, and I don't have time for it.  Pull requests welcome :)

[2015-09-07 11:53] #32 closed

[2015-09-07 11:53] #30 closed

[2015-09-07 11:54] #5 closed

[2015-09-07 11:55] lunaryorn opened #45 "Stack based syntax checker"
Use `stack build` for syntax checking.

[2015-09-07 11:55] lunaryorn commented on #8
Closing in favour of #45

[2015-09-07 11:55] #8 closed

[2015-09-07 11:57] lunaryorn commented on #43
@TakSuyu That is strange because we do actually extract the language extensions.  Can you show the output of `C-c ! C-c haskell-ghc` in the affected buffer?

[2015-09-07 16:19] TakSuyu commented on #43
[code]

[2015-09-07 23:48] TakSuyu commented on #43
For whatever reason ghc and ghc through stack (I went ahead and tried using the same command but `haskell-stack-ghc` instead) Both give me those errors. However from CLI, even stack build --pedantic (which turns on -Wall and -Werror) compiles no problem.

[2015-09-10 09:57] atilaneves opened #46 "cabal sandbox packages not included in GHC command"
Right now on Arch Linux, flycheck-haskell is not setting the correct variables for ghc to find the packages. For instance, on a file with `import Data.List.Split (splitOn)` flycheck fails with `could not find module Data.List.Split`, just as if flycheck-haskell was not installed / configured. This used to work.

I looked into all the variables set by this package and compared to the actual ghc com

[2015-09-10 13:46] lunaryorn commented on #43
@TakSuyu Do you actually have Flycheck Haskell enabled?  There are no options at all in your GHC command, even though there are some that are _always_ set by Flycheck Haskell and definitely _must_ appear there if the package is correctly setup.

[2015-09-10 13:46] lunaryorn commented on #46
@atilaneves I don't think that you need pass these flags to GHC.  It should be able to find packages on its own in the given packages.

Do you have a Cabal sandbox for the project?

[2015-09-10 18:22] atilaneves commented on #46
I just tried reproducing on a different machine and... couldn't. They're both running Arch Linux as well, so I don't know what's different between the two of them. I even deleted my `.emacs.d` and recloned it but the older machine still has the problem, and it's solved by setting `flycheck-ghc-flags` manually. Same OS, same Emacs configuration, same repository, different behaviour.

What else shou

[2015-09-10 21:37] TakSuyu commented on #43
spacemacs pulls it in as a dependency for the layers I'm using. Maybe it's configured incorrectly?

Yep they misconfigured the hook. Sorry for wasting your precious time.

[2015-09-10 21:37] #43 closed

[2015-09-11 20:28] lunaryorn commented on #46
@atilaneves Again, do you use a sandbox for the project?  If so, does Flycheck Haskell find it?

[2015-09-12 15:51] atilaneves commented on #46
I use a sandbox and AFAICT flycheck-haskell finds it. I created a toy one [here](https://github.com/atilaneves/cabal_sandbox_test) hoping to demonstrate the problem but instead I demonstrated it works fine on one computer but not on the other.

[2015-09-13 12:17] lunaryorn commented on #46
@atilaneves I must be an issue with your system then.   I'm closing this issue, but please feel free to write further comments if you need help.

[2015-09-13 12:17] #46 closed

[2015-10-16 15:08] mrkkrp commented on #39
If anyone is having trouble with this, easiest solution, IMHO is this:

[code]

This worked for me, no need to install anything with Cabal. Not sure there are any adverse effects.

[2015-10-16 17:14] ntc2 commented on #39
@mrkkrp: in general any package `<pkg>` can have a `MIN_VERSION_<pkg>` macro -- I think Cabal generates one for each dependency in the `.cabal` -- but in practice not many of them get used. So, no adverse effects, but that is not a general solution.

[2015-10-16 17:20] mrkkrp commented on #39
@ntc2, Yeah, true, although I'm sure in 90% of cases it's `base`. What about progress with that hlint issue? Should I try to add option for hlint parameters? Unless someone already doing this, I think I will open a PR, because this would fix the problem for me completely.

[2015-10-16 17:34] ntc2 commented on #39
@mrkkrp: it doesn't look like anything is happening on the `hlint` issue. You're right that `MIN_VERSION_base` is the common case, although grepping through projects I've worked on recently I also see `MIN_VERSION_` macros for `template_haskell`, `time`, and `directory` in use. Of course, it's not hard to add three more `-D` args to `flycheck-ghc-args` :)

[2015-10-16 19:31] lunaryorn commented on #39
I [clearly said right away](https://github.com/flycheck/flycheck/issues/713#issuecomment-127970675) that I won't add that myself and will leave that to someone else's pull request.  I haven't got any so far, so I'm definitely not going to take any blame for that issue still being open.

[2015-10-16 19:32] mrkkrp commented on #39
@lunaryorn, I personally don't blame you at all, I just asked if anyone is already doing that.

[2015-10-16 20:24] ntc2 commented on #39
@lunaryorn: sorry, I was not intending to blame you or anyone else. I was just responding to @mrkkrp's question about whether any progress has been made on the issue. I really appreciate all your hard work on `flycheck`; I have contributed nothing.

[2015-10-19 05:27] boothead commented on #45
Now that you've merged flycheck/flycheck/#752 the wrapper feature could be used for this (and for a nix-shell based version too) right?

[2015-10-19 05:30] lunaryorn commented on #45
Flycheck already includes a `stack ghc` syntax checker.  This issue tracks whether me might be able to use `stack build` successfully.  I'm not sure how that relates to https://github.com/flycheck/flycheck/pull/752…

[2015-10-19 05:59] boothead commented on #45
Ah my apologies, I thought this would be a command wrapping issue like this other one. My mistake :-)

[2015-10-19 14:58] mrkkrp commented on #39
@ntc2, OK, my PR introducing `flycheck-hlint-args` has been merged, so now I use this:

[code]

No, I don't like it either, but everything is working fine at last.

[2015-11-05 10:53] mrkkrp opened #47 "Flycheck doesn't work with Stack project"
I'm editing files of Stack:

https://github.com/commercialhaskell/stack

and this is quite big project, of course. I've noticed that Flycheck works fine for modules in `src/Stack/Types/` and doesn't work at all for `src/Stack/Fetch.hs` for example. Maybe this is because the latter depends on more modules? I don't know. Is there any limitations on Flycheck usability? Should it work with projects of

[2015-11-05 12:11] lunaryorn commented on #47
I do not know either.   I'll need more information that “doesn't work at all” to say anything reasonable.

[2015-11-05 12:20] mrkkrp commented on #47
Understandable, I'll do additional investigation when I have time.

[2015-11-05 16:11] mrkkrp commented on #47
Hmm, take file `src/Stack/Fetch.hs`. If I edit something in the beginning of document, Flycheck works. About line 66, Flycheck stops to response to my edits. Message buffer does not contain anything of interest. How do I debug it? Can you clone the repo and try yourself?

[2015-11-06 09:46] lunaryorn commented on #47
@mrkkrp Uhm, a first step would be to see what checker Flycheck actually uses, e.g. by `M-x flycheck-verify-setup`.  Then try to run the checker with `M-x flycheck-compile`.  It's probably just taking a long time to check, since it'll build all dependent modules on the first check, too.

You can also wait for me to try, but that'll take long time.  I'm not using Haskell currently—Rust and Elixir h

[2015-11-06 09:56] mrkkrp commented on #47
@lunaryorn, It's all right, I'll try to find out what's going on myself.

[2015-11-06 11:05] mrkkrp commented on #47
First of all, `flycheck-verify-setup` told me that after recent chaning of `PATH` variable `hlint` is no longer on my `PATH`. Good catch, but this cannot be cause on this problem.

`flycheck-compile` however showed this (alignment added):

[code]

I've opened an issue on Stack, see commercialhaskell/stack#1300.

[2015-11-07 07:01] mrkkrp commented on #47
Here is what maintainer of Stack says:

In case you don't intend to work on this, should I try to prepare a pull request fixing these things? Any advice where to look and what to change would be helpful too.

[2015-11-07 09:02] lunaryorn commented on #47
I'd have thought that `stack ghc` did that for us, but apparently not.

I think you'd need to extend this project to add `-package` flags for all dependencies to `flycheck-ghc-args`.  We probably already extract the dependencies from Cabal files, but I think we currently ignore them.

And you'd have to extend this project add whatever directory contains `Paths_stack.hs` to the GHC search path.

[2015-11-23 04:41] ivan-m opened #49 "Don't require stack"
Would it please be possible to make stack usage optional?

Whilst I have stack installed (and hence the default for `flycheck-haskell-runghc-command` uses it), I'm not actually using it for my day-to-day development.  As such, I frequently get spurious errors because stack doesn't know about a module since I installed it using `cabal` sandboxes.

[2015-11-23 11:28] lunaryorn commented on #49
I'm not sure what your problem is.  Why can't you just customise the option and disable the `haskell-stack-ghc` checker?

[2015-11-28 14:06] mrkkrp opened #50 "Run 'stack ghc' from project root instead of directory of current file"
Yesod ecosystem kinda likes to keep data in separate files (one for config, another one to describe database entities, etc). Then those files are embeded into Haskell modules via `file-embed` or similar TH magic. Since paths to the files are relative (absolute paths would not be flexible at all), current working directory is really important. This leads to the situation when project compiles fine

[2015-11-28 16:08] lunaryorn commented on #50
I'm sorry to say that you can't currently change the working directory in Flycheck.  It's a long standing issue, see https://github.com/flycheck/flycheck/issues/312, but it's not a priority for me, because I'm personally not affected by this short coming of Flycheck.

It's also not that easy to implement as it needs a rather deep change to the internal API for picking syntax checkers, because we n

[2015-11-28 16:08] #50 closed

[2015-11-28 17:24] mrkkrp commented on #50
Implementing this will make me diverge from schedule… On the other hand I cannot really continue without tools that work in my circumstances. So it turns out that this things has been waiting for *me*.

I like that idea with `:cwd` described by @rejeep. I think that's how it should work.

Can you describe step by step how this feature should be implemented properly (how you would implement it if y

[2015-11-28 18:57] lunaryorn commented on #50
@mrkkrp I'm sorry, but I do not know how I'd implement it.  If I did I'd have written it down on the corresponding issue.

I do know, though, that it is not an easy change.  There are two challenges that I see immediately:

- Flycheck implicitly relies on `default-directory` in many places.  Specifically we do `expand-directory` with no directory argument all over the place.  An implementation nee

[2015-11-28 19:22] mrkkrp commented on #50
All this stuff makes me feel very sad.

[2015-11-28 19:30] lunaryorn commented on #50
@mrkkrp I didn't anticipate this use case when I wrote these parts of Flycheck, and it's all too easy to rely on all the implicit global state in Emacs.  Besides, with this design decision being so close to Flycheck's core it's also one of the oldest decisions in Flycheck, and my Emacs Lisp skills and my understanding of Emacs were worse than they are today back then.

I'm sorry that my work is no

[2015-11-28 19:38] mrkkrp commented on #50
@lunaryorn, No worries, Flycheck is great, that thing is my problem.

[2015-11-28 20:48] lunaryorn commented on #50
@mrkkrp Thank you 😊 Please don't hesitate to ask if you need any help and I'll do my very best to help you!

[2015-11-30 09:34] lunaryorn commented on #49
@ivan-m Is this still an issue?  Did you try to customise the option and disable `haskell-stack-ghc`?

[2015-11-30 09:35] lunaryorn commented on #47
@mrkkrp Oh, sorry, I totally forgot this pull request :cry:  I'll take a look soon, and hope to merge it by this weekend!

[2015-11-30 09:38] ivan-m commented on #49
Sorry, I mis-spoke and this isn't the problem with the `haskell-stack-ghc` checker.

However, I do find the usage of `stack` by the [`flycheck-haskell-runghc-command`](https://github.com/flycheck/flycheck-haskell/blob/master/flycheck-haskell.el#L75) curious: just because I happen to have it installed doesn't mean I necessarily want it used (though I'm semi-guessing that it's used to automatically

[2015-11-30 10:01] lunaryorn commented on #49
With all due respect, please do not guess. `flycheck-haskell-runghc-command` is not used for syntax checking.

It's only purpose is to provide a Haskell interpreter to run the built-in Haskell helpers of this package to parse the Cabal configuration file.  We default to `stack` because most stack users don't have a global GHC installation anymore—it's simply the safest choice to get a working Hask

[2015-11-30 10:01] #49 closed

[2015-11-30 10:06] ivan-m commented on #49
In my follow-up I didn't mention syntax checking.  I was just questioning the usage of `stack` rather than just plain `runghc`.

(And I question how accurate your statement of "most stack users don't have a global GHC installation anymore", as well as the "safest choice" aspect.)

[2015-11-30 10:19] lunaryorn commented on #49
@ivan-m What concrete problems does `stack` cause for you?  And why can't you just change the option to use `runghc`?

I do not know how accurate that statement is.  I don't doubt that it's somewhat inaccurate and only a poor reflection of the variety of Haskell setups to be found in the Haskell community as it's obviously just based on my somewhat limited personal experience.   Still, that experi

[2015-11-30 10:21] ivan-m commented on #49
I haven't had an issue with it, was just curious at the choice (I had had a problem with the `haskell-stack-ghc` checker which I had accidentally conflated when I first posted it due to the project name, hence the poor word choice).

[2015-12-06 13:46] lunaryorn commented on #47
@mrkkrp I've cherry-picked the corresponding part of #48; the current MELPA should fix this issue.

[2015-12-06 13:46] #47 closed

[2016-01-22 11:17] mrkkrp opened #52 "Strange and weird things are happening"
Our current approach with passing `--hide-all-packages` and then selecting them with `-package` arguments may be flawed, or it's a bug on the Stack side. The problem is desribed here:

https://github.com/commercialhaskell/stack/issues/1684

In short, Stack somehow uses several versions of the same package and even several different versions of the same package when called via `stack ghc` with argu

[2016-01-30 19:27] geraldus commented on #52
@mrkkrp I have another issue:  when I'm adding new package to cabal file of "stacked" project **Flycheck** reports me false errors about hidden packages.  Running `stack build` does not resolves this, @lunaryorn should I open separate issue for this?

[2016-01-31 06:51] mrkkrp commented on #52
Maybe you add them to test suite (am I correct that you're talking about dependecies?)?

We currently scan Cabal file and extract names of all packgaes it depends upon. Then when we call `stack ghc` we pass all of them, so if some package is not present, you will get the message about  hidden package even if you're working on a component of package that does not require this directly.

This is nee

[2016-01-31 07:16] geraldus commented on #52
@mrkkrp no, let me clarify.

For example I work on library part of my project.  I add dependency to library section, and `stack build` works fine (so correct section is updated, otherwise stack won't build my project), but Flycheck does not, it shows me error "Could not load module … it is a member of hidden package …".  The problem persists even if I update something (forcing re-check) or explici

[2016-01-31 07:23] mrkkrp commented on #52
Flychecks creates cache of built modules and perhaps it does not re-scan you Cabal file (if I remember correctly, it does not re-scan Cabal file on every pass — that would be inefficient). Solution is perhaps to kill opened buffers with files of your project and then re-open them. I don't encounter this often, but I guess that's how to work around the issue.

[2016-02-03 03:11] afcady commented on #52
I've got the same problem, I think:

[code]

I think the problem is just `stack ghc` not passing the same arguments as `stack ghci` (and presumably `stack build`)?

[2016-02-03 06:18] mrkkrp commented on #52
@afcady. We seem to have found what is going on in [this issue](https://github.com/commercialhaskell/stack/issues/1684#issuecomment-178690617). What OS are you using?

[2016-02-03 06:43] afcady commented on #52
I'm using Debian.  And btw I don't have any system GHC install -- *only* what was put in place by stack.

Could actually be separate issues of course.

[2016-02-04 04:03] afcady commented on #52
I fixed the problem -- at least, I fixed the problem on my own setup.  Maybe your problem is different. Try the above-referenced patch to `stack` and see.

[2016-02-05 08:49] geraldus commented on #52
Well, I'm facing this issue too.

[2016-02-06 18:50] afcady commented on #52
@geraldus does using the [patch to `stack`](https://github.com/afcady/stack) solve the problem for you?

[2016-02-06 23:40] geraldus commented on #52
I will be able test this only on next week.

[2016-02-17 11:59] chris-martin opened #53 "False positive error using embedFile with relative path"
I'm [`Data.FileEmbed`](http://haddock.stackage.org/lts-3.22/file-embed-0.0.9/Data-FileEmbed.html) like this:

    $(embedFile "foo")

This compiles fine, but flycheck reports the file `foo` doesn't exist. If I specify an absolute path, or if I change `foo` to `../../../foo`, then it doesn't report an errror.

Is there maybe some command that flycheck is running from the directory in which the chec

[2016-02-17 14:16] lunaryorn commented on #53
No, there isn't yet.  This requires deeper changes to Flycheck, see https://github.com/flycheck/flycheck/pull/813.  It'll come, some day, but not any time soon.  It's a larger and deeper change, it requires careful testing, and that takes time that I don't have currently.

[2016-02-17 14:56] lunaryorn commented on #53
I'm closing this issue, please subscribe to flycheck/flycheck#813 to keep track of this.  Thank you for your feedback.

[2016-02-17 14:56] #53 closed

[2016-02-20 22:00] geraldus commented on #52
@afcady hmm… After a closer look I realized that my issue relevant to this thread (I renamed one of my local packages and this bring me similar message that's why I was confued).

[2016-03-15 11:17] tranma opened #54 "haskell-cabal-get-setting no longer exists"
This function is used in `flycheck-haskell-get-config-value`, it no longer exists in the latest release of haskell-mode.

[2016-03-15 14:52] reuleaux commented on #54
just for the record: haskell-cabal-get-setting was renamed to haskell-cabal--get-field,
according to the history of haskell-cabal.el in haskell-mode, cf.:
  https://github.com/haskell/haskell-mode/commit/bd17a1611fbc02ff55d333c1ec73efedfaff5668#diff-6e1a8a553b50ac9e0ff64fff4133a1c5
so for me a temporary workaround was to use:

  (defalias 'haskell-cabal-get-setting 'haskell-cabal--get-field)

but

[2016-03-15 19:19] lunaryorn commented on #54
Please feel welcome to provide a patch and open a pull request.  I do not have time to fix this currently.

/cc @gracjan

[2016-03-15 19:31] gracjan commented on #54
/cc @geraldus

[2016-03-15 19:55] geraldus commented on #54
@gracjan :D Ahh, I foreseen that.  Would it be better to return `haskell-cabal-get-setting` and mark it as obsolete?

[2016-03-15 20:09] lunaryorn commented on #54
@geraldus Best would be to provide us with a proper API to get Cabal settings.  I'd not like to have to use an internal function for our purposes.  :relaxed:

[2016-03-15 20:15] geraldus commented on #54
@lunaryorn I agree, also I see that current implementation have some drawbacks.  I would like I have more time, there are a lot of things to do with haskell-mode.

[2016-03-15 20:36] gracjan commented on #54
@geraldus: Lets provide obsolete alias for now.

[2016-03-29 01:52] t-ander opened #55 "Support for / use of extensions in .cabal"
Hello,

It seems that flycheck is reporting errors without respect to the extensions listed in the .cabal file. For instance I found that `mdo`-notation was flagged as a parse error regardless of the presence of `RecursiveDo` in `default-extensions`. (Adding a `{-# language RecursiveDo #-}` pragma to the file makes the error go away for that file.) The code can still be loaded into the REPL though

[2016-03-29 08:35] chris-martin commented on #52
I'm getting the same error. `Ambiguous module name ‘Crypto.Hash’`

`flycheck-haskell-20160118.1051`

[2016-03-29 08:51] chris-martin commented on #52
I'm not sure that's a flycheck-haskell issue, though - I'm getting the same error from plain flycheck without flycheck-haskell.

[2016-03-29 10:55] lunaryorn commented on #55
Hello,

Flycheck does not look at Cabal files itself.  You need to install and setup [flycheck-haskell](https://github.com/flycheck/flycheck-haskell/) for this purpose which parses the Cabal file and sets up Flycheck accordingly.

I do not know whether Spacemacs already does that; you may want to take a look at the Haskell layer.  I think that this is more an issue with Spacemacs' Haskell configur

[2016-03-29 10:58] lunaryorn commented on #55
@t-ander Did you install this package?  I.e. `flycheck-haskell` in addition to `flycheck` itself?  You may want to take a look at the Haskell layer in Spacemacs, and make sure that it's properly enabled and all packages are present.

Please show the output of `C-c ! C-c haskell-ghc` in an affected buffer.

[2016-04-03 02:20] t-ander commented on #55
Sorry for any confusion, the error was being reported by hlint since it deliberately enables only certain extensions by default. The variable `flycheck-hlint-language-extensions` gives me the functionality I was looking for.

[2016-04-03 02:20] #55 closed

[2016-04-12 14:56] bgamari opened #56 "Opening a large project from a desktop file leads to fork-bomb"
`flycheck-haskell` appears to start a GHC process for each source file it loads with no sort of rate-limiting. When loading a large project this leads to an extremely high number of processes being spawned, to the point where the stability of the host system can be jeopardized.

It seems like some rate-limited work-queue would be appropriate here.

[2016-04-12 18:50] lunaryorn commented on #56
@bgamari Hello.  Thank you for reporting this issue.

May I ask how large is "large" here? How many buffers do you have?  And I presume it only occurs with Desktop Mode, doesn't it? I'd like to understand whether you've hit an edge case, or whether it's a general issue.

As far as I understand it this problem can only occur when many buffers are created simultaneously, for normally we do rate-limi

[2016-04-12 20:20] bgamari commented on #56
Sebastian Wiesner <notifications@github.com> writes:

The project isn't terribly large, about 50 modules.

Correct, the issue occurs when buffers are created simultaneously, as
happens when a project restored from a desktop file.

Cheers,

- Ben

[2016-04-13 08:39] lunaryorn commented on #56
If I understand you correctly, "large" is rather small in this case, isn't it?  50 modules seems to be a pretty standard size for Haskell projects.

So we'd have to limit aggressively, to less than ten processes at a time, and make sure that queued processes run.  If the limit had been 100 or more I'd just have aborted excessive processes and ask the user to manually revert the corresponding buffe

[2016-04-13 08:42] lunaryorn commented on #54
@gracjan I've changed the code to use `haskell-cabal--get-field` to fix the warning.

I'm not too happy about using a function that's marked as internal, and I hope it doesn't just go away at some point.  I'd prefer, though, if we had a proper function like `haskell-cabal-get-field-from-buffer` or so, with a bit more guarantees.

Closing.

[2016-04-13 08:42] #54 closed

[2016-04-13 09:29] gracjan commented on #54
Great, thanks.

Note that the whole `haskell-cabal` module was created when `.cabal` files were flat structures of key-value pairs. Since then cabal got to understand multiple executable, library, test and benchmark sections. The structure isn't flat anymore and therefore would require new abstraction. There was an attempt at that and we still have leftovers in haskell mode.

So cabal support is a

[2016-04-13 09:37] lunaryorn commented on #54
@gracjan We do not parse `.cabal` with Emacs Lisp; we only use this function to parse Cabal configuration files (sandbox and global) to extract the package DB paths and the compiler setting.

I'm not sure whether we're going to keep this for long (because Stack), and it's not a big deal, so if you're going to drop the whole Cabal stuff from Haskell Mode we can just copy the relevant pieces.  Just

[2016-04-13 09:56] geraldus commented on #54
@lunaryorn hi!  I agree this function should exist.  There is a caveat however.  We can provide such function right now, but current implementation of `haskell-cabal--get-field` is very raw, it does not take into account possibility of fields duplication and conditional flags, we lack proper structure to present cabal file.  As for API, I think we should provide some API layer as separate module.

[2016-05-01 19:24] maxigit opened #57 "get-cabal-configuration returning wrong version of stack build directory"
I've updated cabal-install to 1.22.8 using `cabal install cabal` (or equivalent, I don't remember exactly the command) and this break flycheck : I get a `can't find cabal_macros.h`. The reason is `get-cabal-configuration.hs` generate the path to find this file in `.stack-work/dist/x86_64-linux/Cabal-1.22.8.0/build/autogen` but this directory doesn't exist but is `.stack-work/dist/x86_64-linux/Caba

[2016-05-01 20:16] maxigit opened #58 "stack build command should be done in project root directory"
At the moment, the `stack ghc` command needed to check a file is executed in the directory file instead of the project root. This breaks template haskell function using relative path (example `persistWithFile` use in Yesod scaffholding).
 The project root can be  found by running `stack path --project-root`.

[2016-05-01 21:45] lunaryorn commented on #57
@maxigit Thanks, but I'm not sure what the issue is here?  What should Flycheck do different?

[2016-05-01 21:46] lunaryorn commented on #58
Thank you for reporting this issue.  We do not currently support this in Flycheck, but are in the process of adding it.  Please see https://github.com/flycheck/flycheck/pull/813.

Thank you.

[2016-05-01 21:46] #58 closed

[2016-05-01 21:58] maxigit commented on #57
Set the stack dist path properly . The current way to find the path using the get-cabal-configuration is wrong. We should use the path given by  the command `stack path --project-root` instead.

[2016-05-01 22:13] lunaryorn commented on #57
@maxigit I must admit that I'm not convinced that Flycheck is at fault.

We're not guessing the Cabal version in `get-cabal-configuration.hs` after all; the Cabal version comes from the cabal package that we load, and provided that `get-cabal-configuration.hs` runs through `stack` (which is the default) we should the Cabal version Stack has for the current project and not the global one.  I may be

[2016-05-02 22:57] maxigit commented on #57
The point is that the the cabal version run through stack is incorrect. What matters is the cabal version corresponding to ghc version used by stack. I don't really have the time to fix it myself. Even though the fix is in theory quite simple (use `stack path --dist-dir` instead of trying to guess it) it seems that it needs major refactoring.
Moreover, the fix is quite simple (see original post) w

[2016-05-03 08:23] lunaryorn commented on #57
Our Cabal version comes from `stack runghc`.  How can that _not_ be the Cabal version that's associated with the GHC being used for the current project?

[2016-05-03 09:34] maxigit commented on #57
Well, I'm not sure what Cabal version `stack runghc` version is picking but it's definitely not the correct one.
I expect it to be the version from the cabal corresponding to the stackage snapshot, but it's even not that.

`get-cabal-configuration.hs` uses `Distribution.Simple.Utils(cabalVersion)`. If try to import this in ghci (stack ghci) I get an error telling me it belongs to an hidden package

[2016-05-07 21:39] ocramz opened #59 ""Suspicious state from syntax checker haskell-stack-ghc""
"[..] Checker haskell-stack-ghc returned non-zero exit code 1, but no errors from output."

I'm using the latest GHC for OSX (ghc 7.10.3), Emacs 24.5.1, and the above error message appears after activating flycheck-mode.

Here are the pertinent section of my `init.el`

[code]

[2016-05-09 12:10] lunaryorn commented on #59
Hello.

Thank you very much for reporting this issue.  We will try to address it as soon as possible.  However, we need additional information from you.  Please tell us

- your Flycheck version, as in `M-x flycheck-version`,
- and the output of `M-x flycheck-verify-setup` in an affected buffer.

Please also include the *complete* error message.  You can copy it from the `*Messages*` buffer.

It'd

[2016-05-09 14:01] ocramz commented on #59
* Flycheck version 26

* ```M-x flycheck-verify-setup``` : I don't understand why, even after restarting Emacs, `flycheck` isn't found (it's in my `.local/bin`):
[code]

[code]

*  After turning on Flycheck, the following appears:
[code]

[2016-05-09 14:10] ocramz commented on #59
FIXED, after modifying my `~.emacs.d/init.el` as follows:

* INSTALLING exec-path-from-shell (https://github.com/purcell/exec-path-from-shell)

* COMMENTING OUT
[code]

* ACTIVATING `global-flycheck-mode` (adding the entry ` '(global-flycheck-mode t)` in the list `(custom-set-variables )` in `init.el`).

Thank you @lunaryorn , also for the blog about `emacs -Q` , which taught me a few useful thing

[2016-05-09 14:10] #59 closed

[2016-05-09 14:35] lunaryorn commented on #59
@ocramz You're welcome.  I'm happy to hear that you could solve this problem.  Thanks for reporting the issue.

[2016-05-21 17:22] lddubeau commented on #56
I don't believe the problem here is Haskell or `flycheck-haskell`. This morning, I switched my emacs configuration from `flymake` to `flycheck`. When I restarted Emacs it lead to a Gnome crash. By this I mean that my entire Gnome desktop went down, taking everything with it. This happens 100% of the time if I start Emacs with `flycheck` turned on. In the system logs I found that `gnome-session` fr

[2016-05-23 12:19] #57 closed

[2016-06-03 21:40] Pitometsu opened #61 "Flycheck crash my Emacs"
When I run `Interactive-Haskell` with next `.ghci`

[code]

After I run `:color` in `Interactive-Haskell` session to enable colorful output, and switch back to `haskell-mode` buffer, `FlyCheck` stuck, trying to show me type for function under cursor, and `Emacs` crash.

https://github.com/haskell/haskell-mode/issues/1352

[2016-06-03 21:42] Pitometsu commented on #61
[code]

[2016-06-03 21:48] Pitometsu commented on #61
Sorry, it isn't related to flycheck.

[2016-06-03 21:48] #61 closed

[2016-06-06 00:39] creichert opened #62 "Support GHC8 Error Messages"
I've been using the `haskell-stack-ghc` checker since it was released and I haven't had a single issue. However, GHC 8 seems to have a slightly different error message structure which keeps the error messages from properly showing in the minibuffer.

![img4](https://cloud.githubusercontent.com/assets/526560/15809345/af6cabda-2b54-11e6-9e71-0dd5d3354f93.jpg)

If I run `M-x flycheck-compile RET hask

[2016-06-06 06:37] lunaryorn commented on #62
@creichert Did you update Flycheck today?  I think the issue [has already been fixed](https://github.com/flycheck/flycheck/pull/982).

[2016-06-06 13:38] creichert commented on #62
Great, I didn't check that repo but just updated and everything is working again. Thanks!

[2016-06-06 13:38] #62 closed

[2016-06-07 19:18] raghuugare commented on #59
Was about to report a similar issue here. Thank you @ocramz & @lunaryorn !
(In my case, the issue cropped up when I switched from cabal to stack & back to cabal--in any case, I wish that we all move towards 1 preferred system soon which means less headaches for everyone!)

@lunaryorn - special thanks for your blog on the `emacs -Q` option. Will definitely share it on!

Keep up the great work!

[2016-06-10 15:12] ocramz opened #63 "Switching GHC versions"
If there are more than one Haskell installations present (e.g. I have 7.8.4, 7.10.3 and 8.0.1), is there a compact way of pointing flycheck-haskell at the desired one?

I'm encountering this "suspicious state from syntax checker haskell-stack-ghc" warning, since the checker is stuck at using 7.10, whereas I need to try something with 7.8 .

It's a single .hs file, there is no cabal or stack.yaml f

[2016-06-10 16:03] lunaryorn commented on #63
As far as I know you can switch GHC versions in stack without changing the resolver which is not possible in Flycheck currently.

But you can just switch to the normal GHC syntax checker and point its executable to the desired GHC version.

[2016-06-10 16:32] ocramz commented on #63
And how is this done? I'd like to change the path that's displayed when calling `M-x flycheck-verify-setup`, under `haskell-ghc`. I forgot how to access the menu that lets me modify that path variable. Thank you

[2016-06-10 18:50] lunaryorn commented on #63
@ocramz You can `C-c ! s` to select a specific syntax checker, or `C-c ! x` to disable the undesired ones, and then use `C-c ! e` to select the executable of the GHC syntax checker.

[2016-06-12 09:36] ocramz commented on #63
@lunaryorn there seems to be a configuration wrapper around `hlint`. Does `C-c ! e` have to point at this file, or at `hlint`?

[2016-06-12 12:27] lunaryorn commented on #63
I'm sorry but I don't understand your question.  I thought  we were talking about GHC?

[2016-06-12 12:59] ocramz commented on #63
Just an aside re. your comment on syntax checkers. I've solved the issue by `M-x customize-variable`ing `exec-path`. Thank you

[2016-06-12 12:59] #63 closed

[2016-06-22 12:29] ocramz opened #64 ""Checker definition prob. flawed" after switching Stackage resolver"
Flycheck 28, Emacs 24.5.1 x86_64-apple-darwin13.4.0

1. change Stackage resolver (in my case, from `lts-5.15` (GHC 7.10.3) to `nightly-2016-06-20` (GHC 8.0.1)), retrigger Flycheck

2. Flycheck turns off with the following error message :
[code]
4. `stack install hlint` (even though it was already in `$HOME/.local/bin` and working just fine under GHC 7.10.3) (I thought the bug was due to `hlint` be

[2016-06-22 12:32] ocramz commented on #64
Interestingly, when I revert Stackage resolver in my `stack.yaml`, Flycheck switches on again

[2016-06-22 16:39] lunaryorn commented on #64
@ocramz I don't know what's going on, but to me that looks like a Stack issue.  At least, we're not doing anything unusual with Stack.

[2016-06-23 10:43] ocramz commented on #64
@lunaryorn Does it rely on the `ghc-pkg` that's returned by `which`, or on the first one that it can retrieve in the Emacs `exec-path`? In my case they point to distinct Haskell versions. The first entry in the `exec-path` is the one I want to use (GHC 8.0.1), so I wonder what's the matter. This error message only occurs on projects that have a `stack.yaml` file.  Thanks again

[2016-06-23 11:17] lunaryorn commented on #64
@ocramz Sorry, but I can't follow your comment.

Sorry, but what are you asking? What do you mean with `which`?

I should point out that Flycheck doesn't use `ghc-pkg` at all.  The error messages comes from `stack` not Flycheck.

[2016-06-23 11:28] ocramz commented on #64
`which` is a Unix command that returns the path of a systems binary. I'm asking where does Flycheck look for binaries, whether via issuing the `which` command or by looking them up via the list of paths in `exec-path`
.
The error message mentions `ghc-pkg`, which is why I started wondering about mismatching versions of it. Does the latest version of `flycheck-haskell` have specific GHC version req

[2016-06-23 11:36] lunaryorn commented on #64
@ocramz Being an Emacs extension Flycheck looks at `exec-path`, of course.  But I'm not sure how that's relevant here.

Again, this error message doesn't come from Flycheck or Flycheck Haskell.  It's directly from `stack ghc`… so I'm not sure why it matters how Flycheck searches for binaries.

[2016-06-23 13:44] ocramz commented on #64
@lunaryorn Ok, thanks anyway. I'll keep looking for errors elsewhere.

[2016-06-23 13:44] #64 closed

[2016-10-12 00:06] slpopejoy opened #65 "Support new cabal builds"
Cabal new-build uses a new dist dir layout, and requires `package-db` locations in the ghc call. I got it to work with the following changes:

`get-cabal-configuration.hs`: see commit on my fork https://github.com/flycheck/flycheck-haskell/commit/d1a7cd817003ecaf19466b940b6277b0725a110f .

Added package-dbs using .dir-locals for my project. I'm on ghc 8.0.1, and the project is `fadno`, with the di

[2016-10-12 08:39] lunaryorn commented on #65
@slpopejoy I'm normally using stack and am not following Haskell development closely, so I'd appreciate a bit of background information.  I've got no idea what "Cabal new-build" is, how it's different, and why and how that affects flycheck-haskell, and I'm not sure what you're referring to with "we would want to discover the package-db invocations.".

/cc @flycheck/haskell

[2016-10-12 15:22] slpopejoy commented on #65
Cabal new-build is great new work on cabal that eliminates the need for sandboxes in most cases, effortlessly handles different GHC versions, doesn't require dedicated `cabal configure` etc etc. There's a ton of work under the hood going on. See http://blog.ezyang.com/2016/05/announcing-cabal-new-build-nix-style-local-builds/ for an intro.

My backstory: I recently upgraded some libraries on hacka

[2016-10-12 15:54] lunaryorn commented on #65
That sounds very promising, for sure, and I'm all for burning bridges and move to the new style Cabal support without any concerns for backwards compatibility, but I'm not yet sure whether I see a clear path forward.

For one, it seems that "new build" itself still seems to be a bit unstable—why wouldn't it be the default otherwise.  And then I'd love to see the new-build behaviour being exposed t

[2016-10-12 16:25] slpopejoy commented on #65
Agreed on all points. I'm happy to maintain a fork or something as this develops.

[2017-04-29 08:47] kuribas opened #66 "ghc stopped checking my buffers"
Hi, ghc stopped checking my buffers, but I get no error message why.  I use cabal, I have disabled stack, because I don't use it.  My ghc version is 8.2

[2017-05-18 20:14] sergv commented on #66
Hi, thanks for reporting. The issue is caused by new Cabal that's shipping with ghc - they changed API and executable that get project's configuration using Cabal-the-library do not compile any more.

I've fixed these issues in my pr.

[2017-05-19 20:23] sergv commented on #66
The issue should be fixed now.

[2017-05-19 20:23] #66 closed

[2017-05-20 07:23] kuribas commented on #66
Right, it works again :+1:

[2017-05-21 07:50] sergv commented on #56
I think I have an idea on how to solve this problem. Given that we obtain configuration directly from cabal file without using anything else, the configurations can be cached using contents of cabal file and ghc version as a key in the cache map. Am I missing something or that should be the fix?

[2017-05-26 17:33] slpopejoy opened #68 "`haskell-stack-ghc` is not receiving CPP args, presumably not using cabal?"
I just upgraded flycheck as well as moved a project to GHC 8.0.2 (from 7.10.3), and CPP includes are no longer working with the checker. In my case, I define `PACT_VERSION` in my cabal:

[code]

then have a module just to import this:

[code]

`PACT_VERSION` shows up as an undefined symbol. Output of `flycheck-compile` with `haskell-stack-ghc`:

[code]

What you'll note is that the necessary flags

[2017-05-26 21:48] sergv commented on #68
@slpopejoy Hi, thanks for report. It seems to me that the issue is caused by not considering contents of `cpp-options` cabal field. Currently only contents of `ghc-options` in considered, stored in `otherOptions` at https://github.com/flycheck/flycheck-haskell/blob/master/get-cabal-configuration.hs#L195.

Therefore the fix should be to merge contents of `cpp-options` and `ghc-options` fields when

[2017-05-28 07:42] bigos commented on #59
Since Google lists this issue at the top I thought I would add my comment. I had this error:

I have edited the relevant file
`nano ~/.stack/global-project/stack.yaml `
Ang changed the resolver from resolver: lts-8.15 to:

`resolver: ghc-7.10.3`

Please comment what you think and perhaps point me to a better solution.

[2017-06-04 11:47] sergv commented on #68
The issue should be fixed now.

[2017-06-04 11:47] #68 closed

[2017-06-14 12:30] korayal opened #70 "Prelude.hs breaks `flycheck-haskell-read-cabal-configuration`"
I'm using Intero in Spacemacs, and when I have a file named `Prelude.hs` at the same folder with the file I'm currently working on, I get the error below:

[code]
And when I looked into the command that's being executed, it was as below:

[code]
I tried the same command at the project root and it executed alright. But when I tried to execute the same command at the path where the file is located,

[2017-06-17 19:31] sergv commented on #70
@korayal Thanks for reporting the issue! Indeed, `flycheck-haskell` does not change `default-directory` when it gets configuration from the cabal file. That is, it uses `default-directory` of the buffer as the working directory for the execution of `get-cabal-configuration.hs`. Since this module uses Prelude (which is hardly surprising) the `runghc` tries to look for module named `Prelude` in its

[2017-06-22 19:48] sergv commented on #70
@korayal It should be fixed now.

[2017-06-22 19:48] #70 closed

[2017-07-13 20:05] xenog commented on #53
The Flycheck change seems to have happened, but this still doesn't work for me.

[2017-07-14 07:51] sergv commented on #53
@xenog Can you provide a reproducible test case?

[2017-07-15 21:44] xenog commented on #53
@sergv, clone [this repository](https://github.com/haskoin/haskoin) in Spacemacs with the `haskell` and `syntax-checking` layers and then open [this file](https://github.com/haskoin/haskoin/blob/master/haskoin-wallet/Network/Haskoin/Wallet/Settings.hs). You should see this error near `embedFile`:

[code]

[2017-07-21 17:52] sergv commented on #53
@xenog I have reproduced the problem and I think I know what's causing the issue. The issue with current directory was resolved and now ghc is being executed from the directory that contains `stack.yaml` file, which in this case in the root of the project. However, file path is specified relative to root of *subproject*, thus the `does not exist` error. However, I cannot think from the top of my h

[2017-07-22 20:03] hicksy994 opened #72 ""Opening directory: Not a directory""
Hi, Whenever I try to do anything to do with flycheck in a Haskell buffer, I get: "Opening directory: Not a directory".

Even running flycheck-verify-setup gets this error. Any idea what might be happening?

[2017-07-22 20:51] sergv commented on #72
Can you provide a minimal reproducible test case?

If not, can you post stack trace you're getting on error? To get backtrace, do `M-x toggle-debug-on-error` before running action that throws the error.

[2017-07-22 21:51] sergv commented on #72
Okay, I can reproduce the error in my projects as well. It's actually caused by a recent PR of mine that got merged into the `flycheck` project, https://github.com/flycheck/flycheck/pull/1287. I'll try to sort it out.

[2017-07-23 15:42] sergv commented on #72
Should be fixed now as the fix is merged.

[2017-07-23 15:42] #72 closed

[2017-07-27 22:19] xenog commented on #53
Great, if the working directory is that one where the stack.yaml file is, I know exactly what I can do to patch the problem in my code.

[2017-07-28 05:15] mrkkrp opened #73 "cabal_macros.h: No such file or directory"
Sometimes I see:

[code]

It looks like `cabal_macros.h` is not generated where Flycheck expects it to be. Any idea how to fix this?

[2017-07-28 07:21] sergv commented on #73
Can please you post output of `stack --version` and provide a reproducible example?

[2017-07-28 07:23] mrkkrp commented on #73
Stack version:

[code]

I'll add an example a bit later (today or tomorrow).

[2017-07-29 07:43] mrkkrp commented on #73
To reproduce:

1. Clone for example `https://github.com/stackbuilders/cassava-megaparsec.git`.
2. `emacs -Q`
3. Evaluate `(package-initialize)`.
4. Evaluate `(require 'flycheck)`.
5. Evaluate `(require 'flycheck-haskell)`.
6. Go to the directory where you've cloned the package.
7. Open `Data.Csv.Parser.Megaparsec.hs`.
8. Run `flycheck-compile` (just in case, so we are explicit).

Now with `emacs -

[2017-07-29 08:10] sergv commented on #73
Well, at least I have an idea why `stack ghc` gets more arguments in your setup. Per `flycheck-haskell`s README, you should have added something like `(eval-after-load 'flycheck '(add-hook 'flycheck-mode-hook #'flycheck-haskell-setup))` to your `.emacs` (or its equivalent). The `flycheck-haskell-setup` function is the one responsible for getting additional options out of `.cabal` file and passing

[2017-07-29 08:25] mrkkrp commented on #73
I have updated the previous comment.

[2017-07-29 19:37] sergv commented on #73
The `cabal_macros.h` file is generated by either cabal or stack during build. So it's absent until you build your project for the first time. After running `stack build` it should be where flycheck-haskell expects it to be, namely `cassava-megaparsec/.stack-work/dist/x86_64-linux/Cabal-1.24.2.0/build/autogen`. Is that the case for you? On a related note, is it a deal breaker, in your opinion, for

[2017-07-30 04:17] mrkkrp commented on #73
That's not a deal-breaker, I always run `stack build` or `stack test` before I start working anyway (note the point number 2 in the original instructions). But the problem is that even after that I'm getting the error message that `cabal_macros.h` isn't there! For some projects Flycheck works, but for others I can't get rid of the error. This is really frustrating. I certainly don't mind running `

[2017-07-30 13:26] sergv commented on #73
I cannot clearly reproduce the issue following your instructions. I.e. after starting `emacs -Q` and evaluating `package-initialize` I get a failure on `(require 'flycheck)` - `(file-error "Cannot open load file" "No such file or directory" "flycheck")`, which probably means that I need to install a bunch of packages after `package-initialize`.

After some tweaking I got it to work, e.g. in `emacs

[2017-07-30 15:04] mrkkrp commented on #73
Heh, I think what's going on. The path has `x86_64-linux` but stack generates `x86_64-linux-nopie` subdirectory on my system for some reason.

[2017-07-31 04:03] mrkkrp commented on #73
`nopie` is what Stack calls "GHC build". It's autodetected. I guess Flycheck should be able to detect it correctly as well. I don't use GHC that comes from the repositories of my distro, I do everything via Stack (i.e. `stack setup`).

[2017-08-01 15:51] mrkkrp commented on #73
@sergv, ping. Any update on this? I'd prepare a PR, but l'm not sure what to change.

[2017-08-01 18:17] sergv commented on #73
@mrkkrp Yes, I was thinking about fixing this, but now I'm paralyzed with indecision. You see, what if both `x86_64_linux` and `x86_64-linux-nopie` directories are present? I.e. user installed a ghc via stack and another one from the system (e.g. two ghcs of different versions). Which one to choose in this case?

Also, how frequently should emacs test for existence of `-nopie` directory? What if u

[2017-08-02 09:03] mrkkrp commented on #73
I think the correct behavior it to get from Stack what it thinks is the correct path right now and use that. If it's not possible, I'd favor behavior when GHC installed by Stack takes precedence.

[2017-08-04 07:45] sergv commented on #73
Just an update: I didn't forget about this issue and will try to fix it to give priority to the `-pie` variant in the near future, but probably not this week.

[2017-08-15 07:44] #73 closed

[2017-08-15 07:45] sergv commented on #73
@mrkkrp The issue should be fixed now, please give it a try!

[2017-08-15 15:20] mrkkrp commented on #73
Thanks! Everything seems to work now.

[2017-08-30 07:03] capitanbatata opened #75 "Add the possibility of passing custom flags to stack per project"
`flycheck-haskell` work greats on all but one of my Haskell projects. The problem is that I have two `stack` configuration files:

- one for Windows (which uses an integer simple variant)
- one for linux (`stack_linux.yaml`)

So each stack command I run on Linux for this particular project must include the flags

[code]

I don't know if there is a way of customizing this (I could not find it), but

[2017-08-30 19:38] sergv commented on #75
Yes, after digging around for a bit I realized that `flycheck` does not have a handle to point `stack` to a custom stack.yaml file. I'll add that to the `flycheck` project.

In the meantime you can take advantage of the following workaround: define `STACK_YAML` environment variable to point to your `stack_linux.yaml` file before invoking your emacs. This will affect all calls to stack within emacs

[2017-09-04 12:50] capitanbatata commented on #75
Thanks @sergv! My case is a pathological one, since most project use the default stack file, so I guess I can use the workaround you mention for the time being.

[2017-09-20 12:52] Pitometsu opened #76 "Different targets"
When I working on `executable` sources, `flycheck` tell me that there are no some `build-dependencies` in `test-suite`, like:

[code]
Or even:
[code]

[2017-09-20 12:54] Pitometsu commented on #76
Shouldn't it check which target current file belongs to?

[2017-09-20 15:42] sergv commented on #76
Can you please provide a reproducible example?

As a general rule, flycheck-haskell does not distinguish between targets.
Instead, it uses build-depends packages from all targets of a cabal file
when checking project's files.

On Sep 20, 2017 3:54 PM, "Yuriy Pitomets" <notifications@github.com> wrote:

Shouldn't it check which target current file belongs to?

—
You are receiving this because you a

[2017-10-12 22:15] ljli opened #77 "Awkward to use without stack"
There is what I would consider a bug:
readProcessWithExitCode is called [here](https://github.com/flycheck/flycheck-haskell/blob/b313b62866b8a28cadc7331749e51eb32e4ddac2/get-cabal-configuration.hs#L145). But when stack isn't in the path it will throw an exception and the program crashes.
I'm not sure if this should be reported upstream, I would read the [documentation](https://hackage.haskell.org/

[2017-10-13 14:01] sergv commented on #77
Fair enough, thanks for raising this! I'll try to come up with a solution in the near future.

[2017-10-20 17:21] Pitometsu opened #78 "Very bad performance"
Here's profiling results (I checked it few times, results pretty identical):
<img width="734" alt="screen shot 2017-10-20 at 8 16 08 pm" src="https://user-images.githubusercontent.com/2434691/31833646-ec6d9296-b5d3-11e7-87f8-fff96c5db1bf.png">

[2017-10-20 17:23] Pitometsu commented on #78
[code]
[code]

[2017-10-20 17:28] Pitometsu commented on #78
My setup of flycheck:
[code]
[code]
Installed via `el-get`, here's recipe:
[code]

[2017-10-20 17:30] Pitometsu commented on #78
[code]

[2017-10-20 17:34] Pitometsu commented on #76
Ok, solved by cleaning up stack file. However it still would be good to have option to build only required target for current file.

[2017-10-20 18:37] Pitometsu commented on #78
Nevermind, 3% is not significant, real problem was with `savehist` and `auto-revert`.

[2017-10-20 18:38] #78 closed

[2017-10-22 20:41] sergv commented on #77
I believe the issue should be resolved now. Please reopen if it isn't.

[2017-10-22 20:41] #77 closed

[2017-11-07 09:02] sergv commented on #76
Again, as I mentioned before, Haskell checkers in flycheck try to keep it simple by running compiler on the current file. This choice makes all checkers robust with respect to underlying build tools which may have different notions of build targets (cf `cabal` vs `stack`) and likely other quirks build systems tend to have. Adding targets will require significant changes to both `flycheck.el` and p

[2017-11-07 09:02] #76 closed

[2017-11-26 20:37] kuribas opened #81 "no errors"
Flycheck shows no errors, even when I enter garbage in the file.  I use ghc-8.2.2, and the latest flycheck-haskell and haskell-mode from melpa.

[2017-11-26 21:26] kuribas commented on #81
It seems to work for some of my projects, on not for others.

[2017-11-26 21:59] sergv commented on #81
@kuribas Thanks for your report. Can you provide a reproducible where it does not work?

[2017-11-27 06:52] kuribas commented on #81
https://github.com/kuribas/cubicbezier/tree/flycheck
It doesn't check Geom2D/CubicBezier/Basic.hs, which contains errors.

[2017-11-27 06:55] kuribas commented on #81
I know elisp, if I could find a entry point I could try debug it myself.  But it's hard because it fails without error.

[2017-11-27 19:41] kuribas commented on #81
running flycheck-compile shows that the error is in another file that it compiles before checking this file.  Perhaps flycheck-haskell could show why it has failed checking this file?

[2017-11-27 22:34] sergv commented on #81
Ah, if the error comes from another file then there is an explanation for that. You see, the flycheck currently doesn't show errors from other files. There are ideas and some moderate attempts to fix that, but it doesn't seem to be near its finish - https://github.com/flycheck/flycheck/issues/966. If you can lend a hand there it would be of tremendous help. In the mean time there is this general l

[2017-12-06 09:16] sergv commented on #81
I'm closing this issue since it should be fixed in the `flycheck` repository, not in `flycheck-haskell`.

[2017-12-06 09:16] #81 closed

[2018-01-12 08:24] mrkkrp opened #82 "Paths_* modules cannot be found"
As you probably know there is a way to get version of package we're building by importing a special auto-generated module that is prefixed with `Paths_`. For example, I have a project called `mmark-cli` and so I would like to write the following:

[code]

This succeeds with `stack build` but Flycheck reports an error:

[code]

Which is very unfortunate. Maybe this could be fixed somehow?

[2018-01-12 08:26] mrkkrp commented on #82
The auto-generated module is located at `.stack-work/dist/x86_64-linux-tinfo6/Cabal-2.0.1.0/build/mmark/autogen` where `mmark` is the name of component (executable), `mmark-cli` is the name of package.

[2018-01-12 08:44] mrkkrp commented on #82
It looks like the difference is in the presence of executable name:

[code]

[2018-01-12 10:07] mrkkrp commented on #82
I'm also getting:

[code]

when I try to use CPP, namely the Cabal-generated definitions such as `VERSION_my_package`. I think the culprit may be the same.

[2018-01-20 07:32] gahag commented on #82
I'm also having this. I believe it is related to this issue in stack/cabal: https://github.com/commercialhaskell/stack/issues/3791

[2018-01-20 07:48] gahag commented on #82
I got rid of the issue, both in stack ghci and in flycheck, by changing the stack resolver from lts-10.3 to lts-9.21. It looks like the cause is a breaking change in the new cabal version.
I've also installed the flycheck-haskell package in emacs while attempting to solve the issue. Not sure if it's related.

[2018-01-20 09:49] sergv commented on #82
Great, thanks for the investigation. I'll see what I can do.

On 20 January 2018 07:48:35 GMT+00:00, gahag <notifications@github.com> wrote:

Sergey

[2018-01-22 23:54] sergv commented on #82
@mrkkrp @gahag I would apreciate if you could give [my PR](https://github.com/flycheck/flycheck-haskell/pull/83) a spin and check that it works for you.

[2018-01-23 22:19] #75 closed

[2018-01-25 23:28] sergv commented on #82
Should be fixed now. Please reopen if that's not the case.

[2018-01-25 23:28] #82 closed

[2018-03-16 05:45] jbaum98 opened #85 "Support hpack files directly"
It would be nice if rather than having to generate a new cabal file every time the hpack file was edited, we could run hpack on the file ourselves and parse the output of that. Then it would be cached the same, so there wouldn't be much overhead after unless the cache was cleared.

This would require modify the helper haskell program to accept the cabal file on stdin, and then somehow specifying t

[2018-03-16 09:36] sergv commented on #85
Which package description format should be the default one? If both `.cabal` and `package.yaml` files are present, should `flycheck-haskell` at all look at `package.yaml`? Or should it reach for `package.yaml` only if cabal file is absent?

[2018-03-16 16:38] jbaum98 commented on #85
I think there should be a variable to decide the precedence, but if you have both a package.yaml.and a cabal file it seems to me like the cabal file was probably generated from the package.yaml and not the other way around, so we should give the hpack file precedence.

[2018-03-21 12:32] jbaum98 commented on #85
Added in #86.

[2018-03-21 12:32] #85 closed

[2018-03-22 15:10] mrkkrp commented on #65
Nothing new here?

[2018-03-22 22:59] sergv commented on #65
As before, it seems very desirable to have some kind of API exposed by `Cabal` package that would return all packge dbs necessary for compiling current project. Are aware of such thing being exposed?

[2018-04-11 14:48] mrkkrp commented on #82
I'm experiencing this again. Now I'm on NixOS though. Anything I can do to help debug this?

[2018-04-15 00:36] sergv commented on #82
Sorry for late reply - it seems that this project generates a bit more issues that its size may suggest.

In order to be able to help you, please provide: 1. Reproducible example; 2. Output of `find <project--root> -name 'Paths_*'`; 3. Value of `flycheck-ghc-args` elisp variable in a buffer where errorneous behaviour is observed; 4. (optional) Output of the `<path to NixOS-blessed runghc> <path to

[2018-04-16 06:45] mrkkrp commented on #82
Huh, it looks like I can't reproduce it anymore. If I run into this again, I'll provide the info you requested!

[2018-05-26 00:02] rubenmoor opened #88 "Flycheck with nix: Could not find module"
I get the error "Could not find module" for a cabal project that has two executables and one library. The modules that can't be found are in the library of the same cabal project.

I use flycheck on nix with this emacs configuration:

    (setq flycheck-haskell-ghc-executable "/my/home/path/nix-ghc")

where `nix-ghc` is an executable shell script like this:

    #!/bin/sh
    nix-shell -I . --comm

[2018-05-26 21:49] rubenmoor commented on #88
This is a link to a sample project - it contains a minimal cabal package with library and executable.

https://github.com/rubenmoor/haskell-nix-flycheck

I also put relevant config files of my emacs/nix setup in there (`config.el` and `nix-ghc`).

The bug description is in the README.md

[2018-06-01 10:23] mrkkrp opened #89 "Flycheck-haskell hangs indefinitely on NixOS"
This is the start of my investigation. I have found out that `flycheck-haskell-setup`, which is added like this:

[code]

Causes indefinite block on opening on files. (Since I use `flycheck` in most modes, and this function doesn't check whether or not we're in `haskell-mode` that was quite a problem.)

In that function, invocation of `flycheck-haskell-configure` in particular is problematic. Also

[2018-06-02 09:58] sergv commented on #89
Thanks for the report and investigation so far.

The `flycheck-haskell-configure` function basically calls `runghc get-cabal-configuration.hs` to dump cabal file for Emacs. That, in turn, calls `stack path --dist-dir` in order to determine build directory for stack. I think you can star by running `stack path --dist-dir` in your project's directory and see, whether it works. Likely, Emacs picks up

[2018-06-02 10:55] sergv commented on #89
Given that we generally don't know whether we're in a Haskell mode or not (e.g. user could have their own haskell-mode with unpredictable name, like `joe-haskell-mode`), it seems that we should rather alter the setup instruction. Instead of `(eval-after-load 'flycheck '(add-hook 'flycheck-mode-hook #'flycheck-haskell-setup))`, something like `(eval-after-load 'flycheck '(add-hook 'haskell-mode-hoo

[2018-06-02 12:27] mrkkrp commented on #89
Yes, that seems to work fine.

[2018-06-11 22:31] sergv commented on #89
Okay, with README fixed this should be a bit better. Still, I believe flycheck-haskell should strip lines starting `Warning:` from the output of `stack path`.

[2018-08-05 14:55] Rizary commented on #65
`cabal new-build` will soon become `build`

reference: https://github.com/haskell/cabal/projects/6

[2018-08-05 21:04] sergv commented on #65
Yeah, we should probably do something about that. Not sure that I've got spare resources to implement that any time soon. PR for that would be terrific, though.

On 5 August 2018 15:56:00 BST, Andika Demas Riyandi <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-10-15 18:52] #65 closed

[2018-11-16 21:00] vyorkin opened #94 "weird output from haskell-hlint checker"
![image](https://user-images.githubusercontent.com/988849/48647010-b22a9b80-e9fb-11e8-97d3-f2f749f26901.png)

vs

![image](https://user-images.githubusercontent.com/988849/48647025-bd7dc700-e9fb-11e8-83f0-12b06371fd2d.png)

[2018-11-17 10:05] sergv commented on #94
Looks like a temporary file name slipped into the message. This will need to be fixed inside main flycheck repo as current project only gathers configuration parameters for checkers there.

[2019-03-08 07:38] jwiegley opened #97 "Support for cabal.project?"
I have a group of projects included a by `cabal.project` file. Say for the sake of example that there are two, `foo` and `bar`, where `bar.cabal` has a `build-depends` reference to `foo`.

I use `cabal new-build all` to build both `foo` and `bar`. When I go to edit a file in `bar`, flycheck-haskell says that it can't satisfy the dependency for `foo`, because sure enough it's not in the output from

[2019-04-01 21:17] #97 closed

[2019-04-01 21:56] sergv commented on #97
Hi, sorry for late reply. There's no way to make `flycheck-haskell` look inside `cabal.project` at the moment. As I'm using stack integration for the time being the only way to get that is via PR from someone who does use `flycheck-haskel` with `cabal new-build`.

[2019-07-06 15:22] turboMaCk opened #98 "flycheck-haskell is very slow when stack.yaml is not pressent"
Hello :wave:

I have huge performance issues with using flycheck-haskell on any project that doesn't use stack as a build tool. Even basic text editing is incredibly slow while working on those files. The workaround is to `$ touch stack.yaml` which fixes the issue (no matter that file is empty). Another possible workaround is to uninstall `stack` completely from the system. It seems to me that som

[2019-07-07 14:44] sergv commented on #98
@turboMaCk Hi, thanks for the report and conducted investigation. However, I cannot reproduce the slowdown - I've created a simple cabal project with a `.hs` file and a `.cabal` file and tried editing the `.hs` file. I notice no significant slowdown compared to my usual editing.

To help the investigation, can you please conduct some [emacs profiling](https://www.gnu.org/software/emacs/manual/html

[2019-07-25 20:50] turboMaCk commented on #98
Well I just found some time and wanted to try it again (previously I solved it by uninstalling stack). I can no longer reprouce it but before it seemed like unavoidable issue no matter what I tried. Since then I did both update system and emacs packages and did other changes so likely something of that unknowingly to me solved the issue.

I'm using nixos which is quite different compare to most of

[2019-08-24 22:17] sergv commented on #45
I'm going to close this issue to clean up the issue tracker. If you feel the issue is not resolved then please either reopen it or create a new one.

[2019-08-24 22:17] #45 closed

[2019-08-24 22:17] sergv commented on #52
I'm going to close this issue to clean up the issue tracker. If you feel the issue is not resolved then please either reopen it or create a new one.

[2019-08-24 22:17] #52 closed

[2019-08-24 22:17] sergv commented on #56
I'm going to close this issue to clean up the issue tracker. If you feel the issue is not resolved then please either reopen it or create a new one.

[2019-08-24 22:17] #56 closed

[2019-08-24 22:18] sergv commented on #88
I'm going to close this issue to clean up the issue tracker. If you feel the issue is not resolved then please either reopen it or create a new one.

[2019-08-24 22:18] #88 closed

[2019-08-24 22:18] sergv commented on #89
I'm going to close this issue to clean up the issue tracker. If you feel the issue is not resolved then please either reopen it or create a new one.

[2019-08-24 22:18] #89 closed

[2019-08-24 22:18] sergv commented on #94
I'm going to close this issue to clean up the issue tracker. If you feel the issue is not resolved then please either reopen it or create a new one.

[2019-08-24 22:18] #94 closed

[2019-08-24 22:46] mrkkrp commented on #52
I solved the issue by stopping using Flycheck for Haskell.

[2019-09-02 01:39] skalyan91 opened #99 "Reference to Distribution.Parsec.Common needs to be updated for Cabal-3.0.0.0"
When I try to load a Haskell file in Emacs, I get an error about `get-cabal-configuration.hs` not being able to load `Distribution.Parsec.Common`. And indeed, `Distribution.Parsec.Common` does not exist on Hackage. This seems to be caused by the fact that `flycheck-haskell` hasn’t been updated for Cabal-3.0.0.0 (which just came out last month).

Would appreciate a fix, or at least a temporary work

[2019-09-07 20:10] turboMaCk commented on #98
I still have a problems with this from time to time. This is a profile report. It might be something specific to my config. I would apprichiate any advice but if you think this is not related to flycheck-haskell feel free to just close this issue.

[code]

[2019-09-07 20:39] sergv commented on #99
Thanks for reporting. Should be fixed now. If not, please shout.

[2019-09-07 20:39] #99 closed

[2019-09-08 22:54] sergv commented on #98
@turboMaCk Thanks for coming back. One question I didn't manage to ask in this thread yet but which strikes me as a crucial one - do you observe `stack` executable running in the process explorer while you experience the slowness?

Unfortunately, the profiler report doesn't point no anything obvious - there's 30% spent on GC (probably flycheck wasn't directly involved) and  45% spent on a command

[2019-09-09 00:59] turboMaCk commented on #98
To be honest looking at that trace I also start to think it's not realy flycheck-haskell realted. I have no idea what it can be but perhaps if I find a time and try to reduce my config to some minila reproducible example it would become more obvious.

If you want to add that option I definitely have no objection but it really depends on your judgement and not mine. if you feel like it has no other

[2019-11-25 12:30] mx-psi commented on #98
I am having a similar issue. I am using Manjaro with GNU Emacs 26.3 (as a daemon). The profiling report is similar to the one that @turboMaCk gets (it doesn't point to anything obvious) and I can confirm that the `stack` executable is running while I experience the slowness.

[2019-11-25 12:53] turboMaCk commented on #98
btw I'm also running Emacs as a daemon myself even though I don't see how it can be related.

[2020-01-26 11:14] chrissound opened #101 "flycheck-disable-checked not disabling haskell-stack-ghci"
The error is probably due to this project using Nix for it's dependencies. And emacs is not running within the nix-context.

I've tried to disable this with either of these two options but I still run into the error (which locks up the editor for a second or two after each file save):
[code]

[code]

[2020-02-07 18:21] paulyoung commented on #101
I've done the same with `haskell-ghc` but it has no effect.

Every time I try to open a Haskell file, nothing happens and I see `File mode specification error: (file-missing Searching for program No such file or directory runghc)`

[2020-02-12 10:54] sheepduke opened #102 "`flycheck-haskell-setup` signals error on Windows"
**Overview**

I am using flycheck-haskell on Windows Emacs.

While calling `(flycheck-haskell-setup)`, it enters debugger with the following trace:

[code]

**Environment**

Emacs version: `GNU Emacs 26.3 (build 1, x86_64-w64-mingw32) of 2019-08-29`

flycheck-haskell version: `20190907.2035`

[2020-02-17 06:20] sergv commented on #102
Thanks for reporting! Could you please share the contents of the `d:/Home/projects/haskell/Hello/Hello.cabal` file you experience the problem with?

[2020-02-17 06:33] sergv commented on #101
Thanks for reporting. Just to clarify, this project doesn't directly manage `haskell-ghc` and `haskell-stack-ghc` checkers. They're part of the main [flycheck project](https://github.com/flycheck/flycheck) as well as `flycheck-disabled-checkers` variable. The `flycheck-haskell` project only concerns itself with configuring proper environment for those checkers.

@chrissound perhaps it would make s

[2020-02-17 06:47] sheepduke commented on #102
It is automatically generated by Stack.

You may try to reproduce it using a project newly created using Stack.

The following is my `Hello.cabal` file:

[code]

[2020-02-18 07:53] #102 closed

[2020-02-18 07:54] sergv commented on #102
I think I fixed this, please give it a spin.

[2020-02-19 15:55] sheepduke commented on #102
Confirmed. Thank you.

[2020-03-20 18:54] cpitclaudel opened #104 "Support for Haskell scripts made with Stack"
From https://github.com/flycheck/flycheck/issues/1441:

I think this is best handled on the flycheck-haskell side, so I'm moving it here :)

[2020-03-22 11:15] sergv commented on #104
Certainly this is the right place for this issue. If someone wants to work on it - please let me know.

[2020-05-07 07:51] ocramz opened #105 "Using flycheck in a docker-based stack project?"
Stack offers the option for building against a Docker container : https://docs.haskellstack.org/en/stable/docker_integration

What's the recommended way for getting flycheck to pass the `--docker` flag to `stack` in order to use this functionality? Thank you in advance!

[2020-05-07 10:09] sergv commented on #105
If you're using `haskell-stack-ghc` checker then it would be the `flycheck-ghc-args` variable.

[2020-06-25 06:52] tonyday567 opened #106 "Bug in get-cabal-configuration.hs"
Running with Cabal-3.2.0.0 and ghc-8.10.1, I get an error on startup:

[code]

[2020-07-05 06:52] codygman commented on #101
This is likely what I've run into.

direnv-mode (commonly used on nix) adds `(direnv--maybe-update-environment)` to `before-hack-local-variables-hook`. That means the project specific ghc environment and package path should be loaded first.

Then flycheck-haskell adds `(flycheck-haskell-configure)` to `hack-local-variables-hook`.

Theoretically that means the per project nix-shell based ghc should

[2020-07-05 07:03] codygman commented on #101
I paid more attention to my logs and found I was getting the error from this function in my messages buffer when failing:

[code]

[2020-07-05 07:12] codygman commented on #101
Aha! I overrode the function above like so:

[code]

And I saw it was running this:

[code]

Notice it`s using `/home/cody/.nix-profile/bin/stack`. This is a bug in a setup that uses direnv and nix-shell. After I run `flycheck-haskell-configure` the stack it uses (which contains my packages and a modified ghc package directory) is:

[code]

That means either something is wrong with the direnv code

[2020-07-05 07:17] codygman commented on #101
For some reason the cabal file is always being preferred, even when I explicitly evaluate this in the errored state:

[code]

[2020-07-14 22:27] aviaviavi commented on #76
@Pitometsu could you describe what you did to "clean up your stack file"?

I'm using stack and am hitting this issue now, where I have a package in my `tests` target dependencies (tasty) that isn't present in my `executables` build targets (and shouldn't need to be). So in that situation, I'm getting:

[code]

Is the only fix here to just add `tasty` to my executable target, just to appease flyche

[2020-09-06 07:58] turboMaCk commented on #98
Have you found any solution @mx-psi ? I've solved it by uninstalling stack from my system last year but now I need to have stack installed because of work and this starts driving me mad when ever I work on project that doesn't use stack.

[2020-09-06 09:25] mx-psi commented on #98
No, @turboMaCk, I did not manage to make any progress unfortunately :(

[2020-09-07 18:18] bergey opened #108 "call to stack / get-cabal-configuration delays editing file"
On a typical day at work I load 10-30 cabal projects, and the first file I open in each takes ~ 4 seconds to load.  I have `flycheck-haskell-setup` in my `haskell-mode-hook`, so I cannot view or edit the file until `the call to `stack runghc get-cabal-configuration.hs` completes.  I think it would be better if this slow call were non-blocking, so I can edit the file immediately, and flycheck error

[2020-09-30 23:51] peterwicksstringfield commented on #106
(Forgot to close this issue after #109 merged I think.)

[2020-10-22 21:48] bqv commented on #98
Seeing this too

[2020-10-24 15:05] jlavelle opened #110 "IO mzero error when reading cabal configuration"
Every time I try to run `flycheck-haskell-setup` I get an error:
[code]
That is the error generated by the `MonadPlus` instance of `IO` when `mzero` is evaluated, it seems it must be coming from an imported function that is partial.

I'm trying to use this package through a Nix shell so that's probably part of the problem, but it is difficult to figure out what is going wrong without knowing where

[2020-10-24 18:31] sergv commented on #110
Yeah it looks like it will take some time to figure out which partial function lead to this error. Since I don't use Nix, I cannot even start guessing about common pitfalls you may have encountered.

To my mind only 3 possible ways to go forward with this come up:
- Debug it yourself (via print statements for better or worse) and provide your observations here. You can run the `get-cabal-configura

[2020-10-24 18:43] sergv commented on #108
@bergey Thanks for bringing this up. Unfortunately I'm not actively maintaining nor actually using `flycheck-haskell` any more, however I can merge some small fixes. Your patch sounds great and is probably what should ultimately be done.

However, for me issue with merging your proposed patch that makes the calls asynchronous is that once something breaks, someone will have to debug and fix it. Wo

[2020-10-24 18:43] sergv commented on #106
Closing this as PR fixing this was merged.

[2020-10-24 18:43] #106 closed

[2020-10-24 20:03] jlavelle commented on #110
Thanks for the quick response! I'll look into `dante` as an alternative.

[2020-11-14 07:24] djr7C4 commented on #98
I also experience this problem.  For me, it occurs consistently every time flycheck-mode is enabled on a haskell buffer.  When there is a valid stack.yaml file, the issue disappears.

[2020-11-14 08:17] djr7C4 commented on #98
For anyone else who needs a workaround, a simple solution is something like this:

    (add-hook 'haskell-mode-hook (lambda () (setq-local flycheck-checker 'haskell-ghc)))

If you are on Arch or another distro that uses dynamically linked haskell libraries, you will also need

    (setq flycheck-ghc-args "-dynamic")

If you also work with stack projects sometimes, I suggest changing the value of `

[2020-11-18 22:46] bergey commented on #108
Yes, I'd be happy to maintain this part of `flycheck-haskell` going forward.  I've been using my patch for several weeks now; I'll try to turn it into a PR sometime in the next week.

[2021-10-25 00:12] singpolyma opened #112 "cabal new-style builds"
When using a project with cabal new-style builds, flycheck always prints and error about not being able to find dependencies, since they are not in the global ghc store.

[2021-12-23 01:08] sergv commented on #112
Cabal new-style builds are now very well supported at the moment. As a good alternative I can suggest using [dante](https://github.com/jyp/dante). It may require a bit more setup but also provides a bit more features (e.g. get type of identifier at point). Ultimately it boils down to using vanilla ghci and calling `cabal repl` (`stack repl`, nix-style thing, etc) which works pretty robustly (simil